/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
.innerJustify .inner {
  text-align: justify;
}
.innerJustify .inner:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------services start-----------------------------------------------------------------------------------------------*/
.company-services {
  background-color: #ffffff;
}
.company-services-ul {
  list-style-type: none;
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  float: left;
  width: 100%;
}
.company-services-ul li {
  float: left;
  width: 33.33%;
  height: 130px;
  background-position: right 10px top 15px;
  background-repeat: no-repeat;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.company-services-ul li a {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #231f20;
}
.company-services-ul li a p {
  text-transform: uppercase;
  font-size: 12px;
  width: 135px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin: 0px;
}
.company-services-ul li:hover {
  background-color: #fabd00;
}
.company-services-ul li.active {
  background-color: #fabd00;
}
.company-services-ul li.item1 {
  background-image: url("../img/servises/servise1.png");
}
.company-services-ul li.item2 {
  background-image: url("../img/servises/servise2.png");
}
.company-services-ul li.item3 {
  background-image: url("../img/servises/servise3.png");
}
.company-services-ul li.item4 {
  background-image: url("../img/servises/servise4.png");
}
.company-services-ul li.item5 {
  background-image: url("../img/servises/servise5.png");
}
.company-services-ul li.item6 {
  background-image: url("../img/servises/servise6.png");
}
.company-services-ul li.item7 {
  background-image: url("../img/servises/servise7.png");
}
.company-services-ul li.item8 {
  background-image: url("../img/servises/servise8.png");
}
.company-services-ul li.item9 {
  background-image: url("../img/servises/servise9.png");
}
.company-services-ul li.item10 {
  background-image: url("../img/servises/servise10.png");
}
.company-services-ul li.item11 {
  background-image: url("../img/servises/servise11.png");
}
.company-services-ul li.item12 {
  background-image: url("../img/servises/servise12.png");
}
.company-services-ul li.item13 {
  background-image: url("../img/servises/servise13.png");
}
.company-services-ul li.item14 {
  background-image: url("../img/servises/servise14.png");
}
.contact-form label {
  font-weight: normal;
  color: #262262;
}
.contact-form .form-horizontal .control-label {
  text-align: left;
}
.contact-form .form-control {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
}
.contact-form .reason-wright label {
  font-size: 12px;
  padding: 6px 6px;
}
.contact-form .reason-wright .btn {
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  box-shadow: inset 0 0 0 transparent;
  -webkit-box-shadow: inset 0 0 0 transparent;
  -moz-box-shadow: inset 0 0 0 transparent;
  -khtml-box-shadow: inset 0 0 0 transparent;
  -o-box-shadow: inset 0 0 0 transparent;
}
.contact-form .reason-wright .btn.active {
  background-color: #707070;
  color: #ffffff;
}
.contact-form .submit.btn {
  background: linear-gradient(to bottom, #5f718d, #001538);
  background: -moz-linear-gradient(to bottom, #5f718d, #001538);
  background: -ms-linear-gradient(to bottom, #5f718d, #001538);
  background: -o-linear-gradient(to bottom, #5f718d, #001538);
  background: -webkit-linear-gradient(to bottom, #5f718d, #001538);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}
.contact-form .submit.btn:hover {
  background: linear-gradient(to top, #5f718d, #001538);
  background: -moz-linear-gradient(to top, #5f718d, #001538);
  background: -ms-linear-gradient(to top, #5f718d, #001538);
  background: -o-linear-gradient(to top, #5f718d, #001538);
  background: -webkit-linear-gradient(to top, #5f718d, #001538);
}
.price-table .bkg-yellow {
  background-color: #ffc000;
  font-weight: bold;
  color: #00000;
  font-size: 16px;
}
/*---------------------------------------------------------------------------------services end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
  .company-services-ul li {
    width: 33.3333%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .company-services-ul li {
    width: 50%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .company-services-ul li {
    width: 50%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .company-services-ul li {
    width: 100%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
}
@media (max-width: 319px) {
  .company-services-ul li {
    width: 100%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
}
