.fl-w100(){float: left; width : 100%;}
.h-lh(@size){height: @size; line-height: @size;}


.gradient(@pos, @color1, @color2) {
  background: linear-gradient(@pos, @color1, @color2);
  background: -moz-linear-gradient(@pos, @color1, @color2);
  background: -ms-linear-gradient(@pos, @color1, @color2);
  background: -o-linear-gradient(@pos, @color1, @color2);
  background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color) {
  box-shadow:@x @y @fade @size @color;
  -webkit-box-shadow:@x @y @fade @size @color;
  -moz-box-shadow:@x @y @fade @size @color;
  -khtml-box-shadow:@x @y @fade @size @color;
  -o-box-shadow:@x @y @fade @size @color;
}

.radius(@size) {
  border-radius:@size;
  -webkit-border-radius:@size;
  -moz-border-radius:@size;
  -khtml-border-radius:@size;
}

.multyradius(@a, @b, @c, @d){
  border-radius:@a @b @c @d;
  -webkit-border-radius:@a @b @c @d;
  -moz-border-radius:@a @b @c @d;
  -khtml-border-radius:@a @b @c @d;
}

.multyradius(@r, @x, @y){
  -webkit-transform: rotate(@r) translateX(@x) translateY(@y);
  -moz-transform: rotate(@r) translateX(@x) translateY(@y);
  -o-transform:  rotate(@r) translateX(@x) translateY(@y);
  transform: rotate(@r) translateX(@x) translateY(@y);
}

.dictors-size(@w, @h, @wl, @wr, @ml, @ta){
    .item-dictor{width: @w; height: @h;}
    .item-dictor-l{width: @wl; margin-bottom: @ml; text-align: @ta;}
    .item-dictor-r{width: @wr;}
}

.sort-size(@wr, @pg, @fl, @p, @fs){
  .item-sort-l{display: none;}
  .item-sort-r{width: @wr; float: @fl;
    .btn-group{float: @fl; margin-bottom: 10px;}
      .btn-group-box{
        .btn.btn-user{padding: 3px @pg; margin-bottom: 5px;}
      }
  }
  .filtr-list-ul{
    li{font-size: @fs; padding: 0px @p;}
  }
}
/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img{border:0px; outline:none;}
h1,h2,h3{}
a{border: 0px; outline: 0px; text-decoration: underline; &:hover{text-decoration: none;}}
.kris-line{.fl-w100();}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}

.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px}
.mb55{margin-bottom:55px}
.mb60{margin-bottom:60px}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mb80{margin-bottom:80px}
.mb85{margin-bottom:85px}
.mb90{margin-bottom:90px}
.mb95{margin-bottom:95px}
.mb100{margin-bottom:100px}

.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt55{margin-top:55px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt90{margin-top:90px}
.mt95{margin-top:95px}
.mt100{margin-top:100px}

.padding10{padding: 10px;}


/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------dictors start-----------------------------------------------------------------------------------------------*/
.company-dictors{background-color: #ffffff;}
.item-sort-box{background-color: #cbd5da; padding: 2%;}
  .item-sort-l{float: left; width: 36%;}
  .item-sort-r{float: right; width: 60%;
    .btn-group{float: right;}
    .btn-group-box{
      label{color: #3d4fb0; font-weight: normal; font-size: 13px;}
      .btn.btn-user{background-color: #aab1c3; padding: 3px 12px;}
      label.btn-user.active{background-color: #3d4fb0; color: #ffffff;}
    }
  }
  .filtr-box{color: #231f20;
    p{font-size: 17px; margin-bottom: 0px;}
    hr{margin: 0px; border-top: 1px solid #231f20;}
  }
  .filtr-list-ul{list-style-type: none; float: right; margin-top: 20px;
    li{display: inline-block; text-transform: uppercase; font-size: 18px; margin-bottom: 0px; padding: 0px 60px;
      a{cursor: pointer; color: #231f20; text-decoration: none;}
    }
  }


.company-dictors-box{}
  .item-dictor{float: left; width: 48%; height: 150px; margin-bottom: 35px; padding-right: 2%;}
    .item-dictor-tit{margin: 0px 0px 5px; font-size: 17px;
      a{color: #292663; font-size: 17px;}
    }
    .item-dictor-l{float: left; width: 25%;
      img{max-width: 95%; max-height: 95%;}
    }
    .item-dictor-r{float: left; width: 75%;}
      .item-dictor-about-ul{list-style-type: none;
        li{float: left; width: 100%; font-size: 13px;
          .tit{color: #998675;}
          .link{color: #231f20;}
          .link-audio{color: #3d4fb0;}
          .lang{color: #998675;}
        }
      }
  .item-dictor.active{background-color: #fabd00; z-index: 10;
    h2{color: #ffffff;}
  }



/*---------------------------------------------------------------------------------dictors end---------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@bidscreen: ~"(min-width: 1200px)";

@screen: ~"(min-width: 992px) and (max-width: 1200px)";

@tablets: ~"(min-width: 768px) and (max-width: 991px)";

@bigmobile: ~"(min-width: 480px) and (max-width: 767px)";

@mobile: ~"(min-width: 320px) and (max-width: 479px)";

@smallmobile: ~"(max-width: 319px)";

.allgajetscreen{


}

.allMobile{

}

.smallMobile{

}

@media @bidscreen {
  //  body {background-color: white;}

}

@media @screen {
  //  body {background-color: aqua;}
  .item-dictor-tit{font-size: 16px;
    a{color: #292663; font-size: 16px;}
  }
  .item-dictor-about-ul{
    li{font-size: 12px;}
  }
  .sort-size(60%, 12px, right, 40px, 18px);
}

@media @tablets {
  //  body{background-color: gold;}
  .dictors-size(100%, auto, 25%, 75%, 0px, left);
  .sort-size(100%, 6px, left, 30px, 18px);
}


@media @bigmobile {
  //  body{background-color: fuchsia;}
  .allMobile();
  .dictors-size(100%, auto, 25%, 75%, 0px, left);
  .sort-size(100%, 6px, left, 10px, 15px);
}

@media @mobile {
  //  body{background-color: red;}
  .allMobile();
  .smallMobile();
  .dictors-size(100%, auto, 100%, 100%, 10px, center);
  .sort-size(100%, 6px, left, 10px, 15px);

}

@media @smallmobile {
  //  body{background-color: green;}
  .dictors-size(100%, auto, 100%, 100%, 10px, center);
  .sort-size(100%, 6px, left, 10px, 15px);
//  .allMobile();

//  .smallMobile();
}





























