/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------works start-----------------------------------------------------------------------------------------------*/
.work-item-list {
  width: 100%;
  text-align: justify;
}
.work-item-list:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.work-item {
  width: 240px;
  display: inline-block;
  text-align: left;
  line-height: normal;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 20px;
}
.work-box {
  width: 100%;
  height: 160px;
  position: relative;
}
.work-box img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 5;
}
.work-box .grey {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.work-box .tbl {
  width: 100%;
  height: 100%;
  display: table;
}
.work-box .txt {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.work-item-menu {
  width: 100%;
  list-style-type: none;
  display: none;
}
.work-item-menu li {
  border: 1px solid #a2a8a9;
  border-top: 0px solid transparent;
  padding: 5px;
  font-size: 12px;
}
.work-item-menu li:hover {
  background-color: #cbd5da;
  border: 1px solid #cbd5da;
  border-top: 0px solid #cbd5da;
}
/*---------------------------------------------------------------------------------works end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
  .work-item {
    width: 220px;
  }
  .work-box {
    height: 147px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .item-client {
    width: 50%;
  }
  .item-client .item-box {
    height: 130px;
  }
  .item-client .clients-l {
    width: 50%;
  }
  .item-client .clients-l .v-align img {
    margin: auto auto;
  }
  .item-client .clients-r {
    width: 50%;
  }
  .item-client .clients-r p {
    font-size: 12px;
  }
  .item-client .clients-r a {
    position: absolute;
  }
  .client-info {
    width: 200%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 25%;
  }
  .work-item {
    width: 220px;
  }
  .work-box {
    height: 147px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
  .work-item {
    width: 210px;
  }
  .work-box {
    height: 140px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
  .work-item-list {
    text-align: center;
  }
}
@media (max-width: 319px) {
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
  .work-item-list {
    text-align: center;
  }
}
