/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------dictors start-----------------------------------------------------------------------------------------------*/
.dictor-item-feature-box {
  float: left;
  width: 33%;
}
.dictor-item-feature-grey {
  float: left;
  width: 100%;
  background-color: #cbd5da;
  border-radius: 0px 0px 20px 0px;
  -webkit-border-radius: 0px 0px 20px 0px;
  -moz-border-radius: 0px 0px 20px 0px;
  -khtml-border-radius: 0px 0px 20px 0px;
}
.dictor-item-feature-pd {
  padding: 30px 2% 0px 5%;
}
.dictor-item-feature-pd .blue {
  color: #262262;
}
.dictor-item-info-box {
  float: right;
  width: 66.666%;
  position: relative;
  top: -25px;
}
.item-dictor {
  padding: 0px 0px 0px 2%;
}
.item-dictor p {
  margin-bottom: 0px;
  line-height: 25px;
}
.item-dictor-tit {
  margin: 0px 0px 5px;
  font-size: 17px;
}
.item-dictor-tit a {
  color: #292663;
  font-size: 17px;
  text-decoration: none;
}
.item-dictor-l {
  float: left;
  width: 25%;
  margin-bottom: 20px;
}
.item-dictor-l img {
  max-width: 95%;
  max-height: 95%;
}
.item-dictor-r {
  float: left;
  width: 75%;
  margin-bottom: 20px;
}
.item-dictor-about-ul {
  list-style-type: none;
}
.item-dictor-about-ul li {
  float: left;
  width: 100%;
  font-size: 13px;
  margin-bottom: 5px;
}
.item-dictor-about-ul li .tit {
  color: #998675;
}
.item-dictor-about-ul li .link {
  color: #231f20;
}
.item-dictor-about-ul li .link-audio {
  color: #3d4fb0;
}
.item-dictor-about-ul li .lang {
  color: #998675;
}
.advertising-box {
  position: relative;
  top: -60px;
}
/*---------------------------------------------------------------------------------dictors end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
.allMobile .dictor-item-feature-box {
  float: left;
  width: 100%;
  top: 0;
}
.allMobile .dictor-item-info-box {
  float: left;
  width: 100%;
  top: 0;
}
.allMobile .item-dictor {
  padding: 0;
}
.smallMobile .item-dictor-l {
  width: 100%;
}
.smallMobile .item-dictor-r {
  width: 100%;
}
.smallMobile .item-dictor {
  padding: 0;
}
.smallMobile .under-mainmenu-place {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dictor-item-info-box {
    top: 0;
  }
  .advertising-box {
    top: 0;
  }
  .under-mainmenu-place {
    background-color: #FF5312;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .dictor-item-feature-box {
    float: left;
    width: 100%;
    top: 0;
  }
  .dictor-item-info-box {
    float: left;
    width: 100%;
    top: 0;
  }
  .item-dictor {
    padding: 0;
  }
  .dictor-item-info-box {
    top: 0;
  }
  .advertising-box {
    top: 0;
  }
  .under-mainmenu-place {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .dictor-item-feature-box {
    float: left;
    width: 100%;
    top: 0;
  }
  .dictor-item-info-box {
    float: left;
    width: 100%;
    top: 0;
  }
  .item-dictor {
    padding: 0;
  }
  .item-dictor-l {
    width: 100%;
  }
  .item-dictor-r {
    width: 100%;
  }
  .item-dictor {
    padding: 0;
  }
  .under-mainmenu-place {
    display: none;
  }
}
@media (max-width: 319px) {
  .dictor-item-feature-box {
    float: left;
    width: 100%;
    top: 0;
  }
  .dictor-item-info-box {
    float: left;
    width: 100%;
    top: 0;
  }
  .item-dictor {
    padding: 0;
  }
  .item-dictor-l {
    width: 100%;
  }
  .item-dictor-r {
    width: 100%;
  }
  .item-dictor {
    padding: 0;
  }
  .under-mainmenu-place {
    display: none;
  }
}
