/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
.calkulate-body {
  float: left;
  width: 100%;
  height: 240px;
  background-image: url("../img/culk-bkg.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 1px solid #000000;
}
.calk-part {
  float: left;
  width: 25%;
  height: 100%;
}
.calk-part-tr {
  width: 100%;
  height: 100%;
  display: table;
}
.calk-part-td {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.calk-part-td h2 {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  margin-left: 10%;
}
.calk-rol-time-tit {
  float: left;
  width: 100%;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 15px;
}
.calk-input-part {
  float: left;
  width: 30%;
  margin-right: 3.33%;
}
.calk-input {
  float: left;
  width: 45%;
  max-width: 35px;
  height: 40px;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin-left: 2px;
  text-align: center;
  font-size: 25px;
  color: #000000;
}
.time-type {
  text-align: center;
  color: #595657;
  font-size: 12px;
}
.mover-main-box {
  float: left;
  width: 100%;
  height: 17px;
  background-image: url("../img/mover-fon.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.mover-rol {
  width: 22px;
  height: 22px;
  position: absolute;
  background-image: url("../img/mover-roll.png");
  cursor: pointer;
  background-repeat: no-repeat;
  left: 2px;
  top: -2px;
}
.calk-part-lb {
  float: left;
  width: 90%;
  height: 90%;
  border-left: 1px solid #000000;
  margin-top: 5%;
  margin-left: 5%;
}
.calk-filter-ul {
  float: left;
  list-style-type: none;
  margin-left: 15px;
}
.calk-filter-ul li {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.calk-checkbox.btn {
  width: auto;
  height: 17px;
  padding: 0px;
  background-image: url("../img/culk-input-checkbox.png");
  background-repeat: no-repeat;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  background-position: left -17px;
  padding-left: 22px;
  line-height: 15px;
  text-align: left;
}
.calk-checkbox.btn.active {
  background-position: left 0px;
  box-shadow: inset 0 0 0 transparent;
  -webkit-box-shadow: inset 0 0 0 transparent;
  -moz-box-shadow: inset 0 0 0 transparent;
  -khtml-box-shadow: inset 0 0 0 transparent;
  -o-box-shadow: inset 0 0 0 transparent;
}
.calk-checkbox.btn:active {
  background-position: left 0px;
  box-shadow: inset 0 0 0 transparent;
  -webkit-box-shadow: inset 0 0 0 transparent;
  -moz-box-shadow: inset 0 0 0 transparent;
  -khtml-box-shadow: inset 0 0 0 transparent;
  -o-box-shadow: inset 0 0 0 transparent;
}
.not-afferta {
  color: #898989;
  font-size: 11px;
  text-align: right;
  float: left;
  width: 100%;
}
.calk-price-num {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 0px;
}
.calk-price-tit {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #000000;
  margin-bottom: 0px;
}
.calk-price-btnbox {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.calk-price-btnbox .btn {
  background: linear-gradient(to bottom, #5f718d, #001538);
  background: -moz-linear-gradient(to bottom, #5f718d, #001538);
  background: -ms-linear-gradient(to bottom, #5f718d, #001538);
  background: -o-linear-gradient(to bottom, #5f718d, #001538);
  background: -webkit-linear-gradient(to bottom, #5f718d, #001538);
  text-transform: uppercase;
  font-size: 12px;
}
.calk-price-btnbox .btn:hover {
  background: linear-gradient(to top, #5f718d, #001538);
  background: -moz-linear-gradient(to top, #5f718d, #001538);
  background: -ms-linear-gradient(to top, #5f718d, #001538);
  background: -o-linear-gradient(to top, #5f718d, #001538);
  background: -webkit-linear-gradient(to top, #5f718d, #001538);
}
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
  .calk-checkbox.btn {
    font-size: 13px;
  }
  .calk-checkbox.btn .smalltxt {
    font-size: 12px;
  }
  .calk-part.part1 {
    width: 25%;
  }
  .calk-part.part2 {
    width: 25%;
  }
  .calk-part.part3 {
    width: 25%;
  }
  .calk-part.part4 {
    width: 25%;
  }
  .calk-part-td h2 {
    font-size: 17px;
  }
  .calkulate-body {
    height: 240px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .calk-checkbox.btn {
    font-size: 13px;
  }
  .calk-checkbox.btn .smalltxt {
    font-size: 12px;
  }
  .calk-part.part1 {
    width: 15%;
  }
  .calk-part.part2 {
    width: 25%;
  }
  .calk-part.part3 {
    width: 35%;
  }
  .calk-part.part4 {
    width: 25%;
  }
  .calk-part-td h2 {
    font-size: 11px;
  }
  .calkulate-body {
    height: 240px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .calk-checkbox.btn {
    font-size: 13px;
  }
  .calk-checkbox.btn .smalltxt {
    font-size: 12px;
  }
  .calk-part {
    width: 90%;
    margin-left: 5%;
    border-top: 1px solid #000000;
  }
  .calk-part:first-child {
    border-top: 0px solid transparent;
  }
  .calk-part.part2 {
    padding-bottom: 15px;
  }
  .calk-input-part {
    text-align: center;
  }
  .calk-part-td h2 {
    font-size: 13px;
    margin-left: 0px;
  }
  .calkulate-body {
    height: auto;
  }
  .time-type {
    float: left;
    width: 100%;
  }
  .calk-input {
    float: none;
    display: inline-block;
  }
  .calk-part-lb {
    margin-left: 0px;
    border-left: 0px solid transparent;
  }
  .calk-price-num {
    margin-top: 0px;
  }
  .calk-price-btnbox {
    margin-bottom: 15px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .calk-checkbox.btn {
    font-size: 13px;
  }
  .calk-checkbox.btn .smalltxt {
    font-size: 12px;
  }
  .calk-part {
    width: 90%;
    margin-left: 5%;
    border-top: 1px solid #000000;
  }
  .calk-part:first-child {
    border-top: 0px solid transparent;
  }
  .calk-part.part2 {
    padding-bottom: 15px;
  }
  .calk-input-part {
    text-align: center;
  }
  .calk-part-td h2 {
    font-size: 13px;
    margin-left: 0px;
  }
  .calkulate-body {
    height: auto;
  }
  .time-type {
    float: left;
    width: 100%;
  }
  .calk-input {
    float: none;
    display: inline-block;
  }
  .calk-part-lb {
    margin-left: 0px;
    border-left: 0px solid transparent;
  }
  .calk-price-num {
    margin-top: 0px;
  }
  .calk-price-btnbox {
    margin-bottom: 15px;
  }
}
@media (max-width: 319px) {
  .calk-checkbox.btn {
    font-size: 13px;
  }
  .calk-checkbox.btn .smalltxt {
    font-size: 12px;
  }
  .calk-part {
    width: 90%;
    margin-left: 5%;
    border-top: 1px solid #000000;
  }
  .calk-part:first-child {
    border-top: 0px solid transparent;
  }
  .calk-part.part2 {
    padding-bottom: 15px;
  }
  .calk-input-part {
    text-align: center;
  }
  .calk-part-td h2 {
    font-size: 13px;
    margin-left: 0px;
  }
  .calkulate-body {
    height: auto;
  }
  .time-type {
    float: left;
    width: 100%;
  }
  .calk-input {
    float: none;
    display: inline-block;
  }
  .calk-part-lb {
    margin-left: 0px;
    border-left: 0px solid transparent;
  }
  .calk-price-num {
    margin-top: 0px;
  }
  .calk-price-btnbox {
    margin-bottom: 15px;
  }
  .calk-input {
    width: 40%;
  }
}
