/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
.innerJustify .inner {
  text-align: justify;
}
.innerJustify .inner:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------services start-----------------------------------------------------------------------------------------------*/
.company-services {
  background-color: #ffffff;
}
.company-services-ul {
  list-style-type: none;
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  float: left;
  width: 100%;
}
.company-services-ul li {
  float: left;
  width: 25%;
  height: 130px;
  background-position: right 10px top 15px;
  background-repeat: no-repeat;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.company-services-ul li a {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #231f20;
}
.company-services-ul li a p {
  text-transform: uppercase;
  font-size: 12px;
  width: 135px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin: 0px;
}
.company-services-ul li:hover {
  background-color: #fabd00;
}
.company-services-ul li.active {
  background-color: #fabd00;
}
.company-services-ul li.item1 {
  background-image: url("../img/servises/servise1.png");
}
.company-services-ul li.item2 {
  background-image: url("../img/servises/servise2.png");
}
.company-services-ul li.item3 {
  background-image: url("../img/servises/servise3.png");
}
.company-services-ul li.item4 {
  background-image: url("../img/servises/servise4.png");
}
.company-services-ul li.item5 {
  background-image: url("../img/servises/servise5.png");
}
.company-services-ul li.item6 {
  background-image: url("../img/servises/servise6.png");
}
.company-services-ul li.item7 {
  background-image: url("../img/servises/servise7.png");
}
.company-services-ul li.item8 {
  background-image: url("../img/servises/servise8.png");
}
.company-services-ul li.item9 {
  background-image: url("../img/servises/servise9.png");
}
.company-services-ul li.item10 {
  background-image: url("../img/servises/servise10.png");
}
.company-services-ul li.item11 {
  background-image: url("../img/servises/servise11.png");
}
.company-services-ul li.item12 {
  background-image: url("../img/servises/servise12.png");
}
.current-services-title {
  float: left;
  width: 25%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 15px 20px;
}
.current-services-title .p-title {
  margin-top: 75px;
  margin-left: 15px;
  color: #ffffff;
  font-size: 17px;
}
.current-services-title.item1 {
  background-image: url("../img/servises/servise1.png");
}
.current-services-title.item2 {
  background-image: url("../img/servises/servise2.png");
}
.current-services-title.item3 {
  background-image: url("../img/servises/servise3.png");
}
.current-services-title.item4 {
  background-image: url("../img/servises/servise4.png");
}
.current-services-title.item5 {
  background-image: url("../img/servises/servise5.png");
}
.current-services-title.item6 {
  background-image: url("../img/servises/servise6.png");
}
.current-services-title.item7 {
  background-image: url("../img/servises/servise7.png");
}
.current-services-title.item8 {
  background-image: url("../img/servises/servise8.png");
}
.current-services-title.item9 {
  background-image: url("../img/servises/servise9.png");
}
.current-services-title.item10 {
  background-image: url("../img/servises/servise10.png");
}
.current-services-title.item11 {
  background-image: url("../img/servises/servise11.png");
}
.current-services-title.item12 {
  background-image: url("../img/servises/servise12.png");
}
.current-services-info {
  float: left;
  width: 75%;
  height: 100%;
}
.info-box-ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 30px;
}
.info-box-ul li a {
  color: #000000;
}
.info-box-ul li.active a {
  color: #ffffff;
  text-decoration: none;
}
.current-services-fon {
  background-color: #fabd00;
  position: relative;
  margin-bottom: 20px;
}
.current-services-decor {
  position: absolute;
  left: 25%;
  bottom: 0px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg) translateX(0px) translateY(10px);
  -moz-transform: rotate(45deg) translateX(0px) translateY(10px);
  -o-transform: rotate(45deg) translateX(0px) translateY(10px);
  transform: rotate(45deg) translateX(0px) translateY(10px);
  background-color: #fabd00;
}
.current-type-servise-box {
  height: 100%;
  position: relative;
}
.current-type-servise-video {
  float: left;
  width: 25%;
}
.current-type-servise-txt {
  float: left;
  width: 55%;
}
.current-type-servise-txt p {
  font-size: 15px;
  margin-bottom: 0px;
}
.current-type-servise-txt .first-word {
  font-size: 16px;
  text-transform: uppercase;
  color: #fabd00;
}
.culk-btn-box {
  float: left;
  width: 20%;
  height: 100%;
}
.culk-btn {
  width: 81px;
  height: 120px;
  position: absolute;
  background-image: url("../img/calk-btn.png");
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.culk-btn p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
}
.dictor-line-top {
  float: left;
  width: 20%;
  height: 22px;
  background-color: #d3dbe0;
  border-radius: 0px 10px 0px 0px;
  -webkit-border-radius: 0px 10px 0px 0px;
  -moz-border-radius: 0px 10px 0px 0px;
  -khtml-border-radius: 0px 10px 0px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
}
.dictor-line-bot {
  float: left;
  width: 100%;
  background-color: #d3dbe0;
}
.dictor-line-pad {
  padding: 15px;
  width: 100%;
}
.dictor-line-ul {
  width: 100%;
  text-align: justify;
  list-style-type: none;
  margin-bottom: 0px;
}
.work-item-list:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.dictor-item {
  width: 210px;
  display: inline-block;
  line-height: normal;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}
.dictor-item a {
  color: #3d4fb0;
  text-decoration: none;
}
.dictor-item img {
  margin-bottom: 10px;
}
.dictor-item p {
  margin-bottom: 0px;
}
.dictor-item .name {
  font-weight: bold;
  text-decoration: underline;
}
.calkulate-main-box {
  display: none;
}
/*---------------------------------------------------------------------------------services end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
  .company-services-ul li {
    width: 33.3333%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .dictor-item {
    width: 175px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .company-services-ul li {
    width: 50%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .dictor-line-top {
    width: 50%;
  }
  .dictor-item {
    width: 227px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .company-services-ul li {
    width: 50%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .current-services-title {
    width: 100%;
    height: auto;
  }
  .current-services-info {
    width: 100%;
    height: auto;
  }
  .info-box-ul {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .current-type-servise-video {
    width: 100%;
    margin-bottom: 15px;
  }
  .current-type-servise-txt {
    width: 80%;
  }
  .culk-btn-box {
    width: 20%;
  }
  .culk-btn {
    width: 50px;
    height: 80px;
    background-size: contain;
  }
  .culk-btn p {
    font-size: 9px;
  }
  .dictor-line-top {
    width: 50%;
  }
  .dictor-item {
    width: 175px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .company-services-ul li {
    width: 100%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .current-services-title {
    width: 100%;
    height: auto;
  }
  .current-services-info {
    width: 100%;
    height: auto;
  }
  .info-box-ul {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .current-type-servise-video {
    width: 100%;
    margin-bottom: 15px;
  }
  .current-type-servise-txt {
    width: 80%;
  }
  .culk-btn-box {
    width: 20%;
  }
  .culk-btn {
    width: 50px;
    height: 80px;
    background-size: contain;
  }
  .culk-btn p {
    font-size: 9px;
  }
  .dictor-line-top {
    width: 100%;
  }
  .dictor-line-ul {
    text-align: center;
  }
}
@media (max-width: 319px) {
  .company-services-ul li {
    width: 100%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .current-services-title {
    width: 100%;
    height: auto;
  }
  .current-services-info {
    width: 100%;
    height: auto;
  }
  .info-box-ul {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .current-type-servise-video {
    width: 100%;
    margin-bottom: 15px;
  }
  .current-type-servise-txt {
    width: 80%;
  }
  .culk-btn-box {
    width: 20%;
  }
  .culk-btn {
    width: 50px;
    height: 80px;
    background-size: contain;
  }
  .culk-btn p {
    font-size: 9px;
  }
  .dictor-line-top {
    width: 100%;
  }
  .dictor-line-ul {
    text-align: center;
  }
}
