/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------clients start-----------------------------------------------------------------------------------------------*/
.company-clients {
  background-color: #ffffff;
}
.item-sort-l {
  float: left;
  width: 40%;
}
.item-sort-r {
  float: left;
  width: 60%;
}
.item-sort-r .btn-group {
  float: right;
}
.item-sort-r .btn-group-box label {
  color: #3d4fb0;
  font-weight: normal;
  font-size: 13px;
}
.item-sort-r .btn-group-box .btn.btn-user {
  background-color: #aab1c3;
  padding: 3px 12px;
}
.item-sort-r .btn-group-box label.btn-user.active {
  background-color: #3d4fb0;
  color: #ffffff;
}
.company-clients-box {
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  float: left;
  width: 100%;
}
.item-client {
  float: left;
  width: 50%;
  position: relative;
  z-index: 5;
  background-position: right 10px top 15px;
  cursor: pointer;
  background-repeat: no-repeat;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.item-client .item-box {
  float: left;
  width: 100%;
  height: 130px;
}
.item-client .clients-l {
  float: left;
  width: 47%;
  height: 100%;
  display: table;
}
.item-client .v-align {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.item-client .v-align img {
  max-width: 100%;
  max-height: 100%;
}
.item-client .clients-r {
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 3%;
  position: relative;
}
.item-client .clients-r h2 {
  font-size: 18px;
  color: #fabd00;
  margin-top: 10px;
  margin-bottom: 5px;
}
.item-client .clients-r p {
  font-size: 14px;
  color: #2c2d35;
}
.item-client .clients-r a {
  position: absolute;
  left: auto;
  bottom: 5px;
}
.item-client.active {
  background-color: #fabd00;
  z-index: 10;
}
.item-client.active h2 {
  color: #ffffff;
}
.client-info {
  float: left;
  width: 200%;
  display: none;
  background-color: #fabd00;
  border-top: 1px solid #d4d4d4;
  cursor: default;
}
.client-info.al-l {
  float: left;
}
.client-info.al-r {
  float: right;
}
.client-info-txt {
  padding: 10px 5% 10px 25%;
}
.client-info-txt h3 {
  font-size: 14px;
  font-weight: bold;
}
.client-info-txt p {
  font-size: 13px;
}
.client-info-txt a {
  font-size: 13px;
}
/*---------------------------------------------------------------------------------clients end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
  .item-client {
    width: 50%;
  }
  .item-client .item-box {
    height: 130px;
  }
  .item-client .clients-l {
    width: 50%;
  }
  .item-client .clients-l .v-align img {
    margin: auto auto;
  }
  .item-client .clients-r {
    width: 50%;
  }
  .item-client .clients-r p {
    font-size: 12px;
  }
  .item-client .clients-r a {
    position: absolute;
  }
  .client-info {
    width: 200%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 25%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
}
@media (max-width: 319px) {
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
}
