* {
  margin: 0px;
  padding: 0px;
}
/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 225px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #231f20;
}
img {
  border: 0px;
  outline: none;
}
.italic {
  font-style: italic;
}
a {
  border: 0px;
  outline: 0px;
  color: #262262;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt0 {
  margin-top: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
.bld {
  font-weight: bold;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------template---------------------------------------------------------------------------------------------------*/
body > .container {
  padding: 0px 15px 0;
}
/*.container {width: auto; max-width: 980px; padding: 0 15px;}*/
/*---------------------------------------------------------------------------------template end-----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------head-------------------------------------------------------------------------------------------------------*/
/*-------------------*/
.head-img {
  height: 240px;
  background-color: #fabd00;
  background-image: url("../img/head.jpg");
  background-repeat: no-repeat;
  position: relative;
}
.head-img-t {
  position: relative;
  height: 210px;
}
h1.site-h1 {
  position: absolute;
  color: #ffffff;
  left: 27.5%;
  top: 55%;
  font-size: 26px;
  font-weight: bold;
}
.contacts {
  position: absolute;
  left: auto;
  top: 83%;
  right: 8%;
}
.contacts-ul {
  list-style-type: none;
  float: left;
}
.contacts-ul li {
  float: left;
  color: #ffffff;
}
.contacts-ul li.mail {
  padding: 3px 13px 3px 0px;
  border-right: 2px solid #ffffff;
}
.contacts-ul li.mail i {
  font-size: 23px;
}
.contacts-ul li.tel {
  font-size: 23px;
  padding-left: 13px;
}
.head-img-b {
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.head-part-l {
  float: left;
  width: 9%;
  height: 100%;
  position: relative;
}
.head-part-c {
  float: left;
  width: 24%;
  height: 100%;
}
.head-part-r {
  float: left;
  width: 67%;
  height: 100%;
}
/*-------------------*/
.main-menu-empty-black {
  float: left;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
}
.main-menu.navbar {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  position: relative;
  min-height: inherit;
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-bottom: 1px solid #000000;
  z-index: 99999;
}
.main-menu.navbar-default {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
}
.main-menu.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.main-menu.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.main-menu.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.main-menu.navbar-default .navbar-nav > li > a:hover {
  background: linear-gradient(to bottom, #667666, #3f5050);
  background: -moz-linear-gradient(to bottom, #667666, #3f5050);
  background: -ms-linear-gradient(to bottom, #667666, #3f5050);
  background: -o-linear-gradient(to bottom, #667666, #3f5050);
  background: -webkit-linear-gradient(to bottom, #667666, #3f5050);
}
.main-menu.navbar-default .navbar-nav > .active > a {
  color: #ffffff;
  background-color: #667666;
  background: linear-gradient(to bottom, #667666, #3f5050);
  background: -moz-linear-gradient(to bottom, #667666, #3f5050);
  background: -ms-linear-gradient(to bottom, #667666, #3f5050);
  background: -o-linear-gradient(to bottom, #667666, #3f5050);
  background: -webkit-linear-gradient(to bottom, #667666, #3f5050);
}
.main-menu .nav > li > a {
  padding: 0px 10px;
}
.main-menu .container-fluid {
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.main-menu .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 29px;
  text-decoration: none;
  text-transform: lowercase;
}
.main-menu .navbar-collapse.collapse {
  padding-right: 0px;
  padding-left: 0px;
}
.main-menu .navbar-nav {
  width: 100%;
  margin: 0px 0px;
  text-align: justify;
  height: 29px;
}
.main-menu .navbar-nav li {
  height: 100%;
  float: none;
  display: inline-block;
}
.main-menu .navbar-nav:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
.main-menu .navbar-toggle {
  padding: 6px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
}
/*-------------------*/
.dictor-h-in-main {
  float: left;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #ff5312;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 8px 0px 0px 0px;
  -webkit-border-radius: 8px 0px 0px 0px;
  -moz-border-radius: 8px 0px 0px 0px;
  -khtml-border-radius: 8px 0px 0px 0px;
}
/*-------------------*/
.site-lang {
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -khtml-border-radius: 25px;
  background-color: #fcc051;
  background: linear-gradient(to bottom, #fcc051, #fcbd4f);
  background: -moz-linear-gradient(to bottom, #fcc051, #fcbd4f);
  background: -ms-linear-gradient(to bottom, #fcc051, #fcbd4f);
  background: -o-linear-gradient(to bottom, #fcc051, #fcbd4f);
  background: -webkit-linear-gradient(to bottom, #fcc051, #fcbd4f);
  position: absolute;
  left: 50%;
  margin-left: -23px;
  top: -21px;
}
.site-lang-ul {
  float: left;
  width: 22px;
  height: 100%;
  list-style-type: none;
  margin-left: 12px;
  margin-top: 6px;
}
.site-lang-ul li {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.site-lang-ul li a {
  color: #3d4e4f;
  text-decoration: none;
}
.site-lang-ul li.active a {
  color: #ffffff;
}
.site-lang-ul li:first-child {
  border-bottom: 1px solid #ffffff;
}
/*-------------------*/
.under-mainmenu-box.h195 {
  height: 195px;
}
.under-mainmenu-box.h70 {
  height: 70px;
}
.under-mainmenu-place {
  width: 67%;
  float: left;
  height: 100%;
}
.random-dictor {
  float: left;
  width: 33%;
  height: 100%;
  background-color: #ff5312;
}
.random-dictor-inner {
  padding: 19px 10px 0px 10px;
}
.random-dictor-lang {
  float: left;
  width: 35px;
  height: 23px;
  background-image: url("../img/lang-rus.jpg");
}
.random-dictor-h {
  float: right;
  position: relative;
}
.random-dictor-h h3 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  right: 15px;
  top: -42px;
  text-transform: uppercase;
}
.random-dictor-foto {
  float: left;
  width: 55%;
}
.random-dictor-foto img {
  float: left;
  max-width: 100%;
  max-height: 100%;
}
.random-dictor-about {
  float: left;
  width: 45%;
}
.random-dictor-about p {
  margin-left: 10px;
  color: #000000;
}
.random-dictor-about p.name {
  font-size: 17px;
}
.random-dictor-about p.lang {
  font-size: 12px;
}
.dictor-bank {
  float: left;
  width: 33%;
  height: 100%;
  background-color: #ff5312;
}
.dictor-bank-inner {
  padding: 5px 5px 0px 35px;
}
.dictor-bank-h {
  float: right;
  position: relative;
}
.dictor-bank-h h3 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: -29px;
  text-transform: uppercase;
}
.dictor-bank-ul {
  list-style-type: none;
}
.dictor-bank-ul li {
  color: #ffffff;
}
.dictor-bank-ul li .num {
  width: 40px;
  display: inline-block;
}
/*-------------------*/
.main-img {
  float: left;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-img.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
}
/*-------------------*/
.kasting-box {
  float: left;
  width: 100%;
  height: 210px;
  background-color: #fabd00;
  margin-bottom: 20px;
  text-align: center;
}
.kasting-box img {
  max-width: 100%;
  max-height: 100%;
}
.advertising-box {
  float: left;
  width: 100%;
  height: 205px;
  background-color: #fabd00;
  text-align: center;
}
.advertising-box img {
  max-width: 100%;
  max-height: 100%;
}
.adv-modul-small {
  float: left;
  width: 100%;
  height: 117px;
  background-color: #fabd00;
  margin-bottom: 5px;
}
.adv-modul-small .pad-box {
  padding: 3%;
  width: 100%;
  height: 100%;
}
.clients-small-box {
  width: 100%;
  height: 100%;
}
.clients-small-box .clients-l {
  width: 50%;
  height: 100%;
  float: left;
}
.clients-small-box .clients-l img {
  max-width: 95%;
  max-height: 100%;
}
.clients-small-box .clients-r {
  width: 50%;
  height: 100%;
  float: left;
}
.clients-small-box .clients-r h2 {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0px;
}
.clients-small-box .clients-r p {
  margin-top: 25px;
}
.dictor-small-box {
  width: 100%;
  height: 100%;
}
.dictor-small-box .clients-l {
  width: 50%;
  height: 100%;
  float: left;
}
.dictor-small-box .clients-l img {
  max-width: 95%;
  max-height: 100%;
}
.dictor-small-box .clients-r {
  width: 50%;
  height: 100%;
  float: left;
}
.dictor-small-box .clients-r h2 {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0px;
}
.dictor-small-box .clients-r p {
  font-size: 17px;
  text-align: left;
  margin: 0px;
  line-height: 22px;
}
.dictor-small-box .clients-r p.name {
  font-size: 17px;
}
.dictor-small-box .clients-r p.lang {
  font-size: 12px;
}
/*---------------------------------------------------------------------------------head end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------page-------------------------------------------------------------------------------------------------------*/
.company-btntop {
  text-align: center;
}
.btntop {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-image: url("../img/btntop.jpg");
  cursor: pointer;
  background-repeat: no-repeat;
}
.btntop:after {
  content: "наверх";
  margin-top: 37px;
  display: block;
  font-size: 10px;
  width: 100%;
  text-align: center;
}
.advertising-txt-box {
  width: 100%;
  background-image: url("../img/servises/servise2.png");
  background-position: right top;
  background-repeat: no-repeat;
}
.advertising-txt-box h2 {
  color: #918f8f;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 25px;
}
.advertising-txt-box p {
  font-size: 12px;
}
/*---------------------------------------------------------------------------------page end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------footer-----------------------------------------------------------------------------------------------------*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 225px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer-t {
  height: 193px;
  background-color: #19253c;
  border-radius: 0px 0px 40px 0px;
  -webkit-border-radius: 0px 0px 40px 0px;
  -moz-border-radius: 0px 0px 40px 0px;
  -khtml-border-radius: 0px 0px 40px 0px;
}
.footer-l {
  float: left;
  width: 33.3333%;
  height: 100%;
}
.footer-c {
  float: left;
  width: 33.3333%;
  height: 100%;
}
.footer-r {
  float: left;
  width: 33.3333%;
  height: 100%;
}
.footer-b {
  height: 32px;
  overflow: hidden;
}
.footer-b-decor {
  width: 25px;
  height: 45px;
  background-color: #19253c;
  -webkit-transform: rotate(45deg) translateX(-15px) translateY(-6px);
  -moz-transform: rotate(45deg) translateX(-15px) translateY(-6px);
  -o-transform: rotate(45deg) translateX(-15px) translateY(-6px);
  transform: rotate(45deg) translateX(-15px) translateY(-6px);
}
/*---------------------------------------------------------------------------------footer end-------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
.allgajetscreen .head-img {
  background-position: right top;
}
.allgajetscreen .head-part-l {
  width: 0px;
}
.allgajetscreen .site-lang {
  left: 10px;
  margin-left: 0px;
  top: -50px;
}
.allgajetscreen .head-part-c {
  display: none;
}
.allgajetscreen .head-part-r {
  width: 100%;
}
.allgajetscreen .main-menu {
  overflow: hidden;
}
.allgajetscreen .main-menu .navbar-collapse.collapse {
  padding-right: 15px;
  padding-left: 15px;
}
.allgajetscreen .main-menu .navbar-nav {
  height: auto;
  text-align: left;
}
.allgajetscreen .main-menu .navbar-nav li {
  height: 100%;
  display: block;
}
.allgajetscreen .main-menu .navbar-nav:after {
  display: none;
}
.smallMobile .site-lang {
  top: -80px;
}
.under-mainmenu-style .random-dictor {
  width: 40%;
}
.under-mainmenu-style .random-dictor-h {
  float: right;
  position: relative;
}
.under-mainmenu-style .random-dictor-h h3 {
  position: relative;
  right: 0px;
  top: 3px;
  font-size: 14px;
}
.under-mainmenu-style .random-dictor-about {
  float: left;
  width: 45%;
}
.under-mainmenu-style .random-dictor-about p {
  margin-left: 5px;
}
.under-mainmenu-style .random-dictor-about p.name {
  font-size: 14px;
}
.under-mainmenu-style .under-mainmenu-place {
  width: 60%;
}
.under-mainmenu-style .under-mainmenu-box.h70 {
  height: 100px;
}
.under-mainmenu-style .dictor-bank {
  width: 40%;
}
.under-mainmenu-style .dictor-bank-inner {
  padding: 5px 5px 0px 10px;
}
.under-mainmenu-style .dictor-bank-h {
  float: left;
  position: relative;
  margin-bottom: 10px;
}
.under-mainmenu-style .dictor-bank-h h3 {
  position: relative;
  right: auto;
  top: auto;
  font-size: 14px;
}
.random-dictor-style .random-dictor {
  width: 100%;
}
.random-dictor-style .random-dictor-h {
  float: right;
  position: relative;
}
.random-dictor-style .random-dictor-h h3 {
  position: relative;
  right: 0px;
  top: 3px;
  font-size: 14px;
}
.random-dictor-style .random-dictor-foto {
  float: left;
  width: 40%;
}
.random-dictor-style .random-dictor-about {
  float: left;
  width: 60%;
}
.random-dictor-style .main-img {
  display: none;
}
.random-dictor-style .under-mainmenu-place {
  width: 100%;
  height: auto;
}
.random-dictor-style .under-mainmenu-box.h70 {
  height: auto;
}
.random-dictor-style .dictor-bank {
  width: 100%;
}
.random-dictor-style .dictor-bank-inner {
  padding: 5px 5px 0px 10px;
}
.random-dictor-style .dictor-bank-h {
  float: left;
  position: relative;
  margin-bottom: 10px;
}
.random-dictor-style .dictor-bank-h h3 {
  position: relative;
  right: auto;
  top: auto;
  font-size: 14px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main-menu .nav > li > a {
    padding: 0px 5px;
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-menu .nav > li > a {
    padding: 0px 5px;
  }
  .adv-modul-small {
    width: 50%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .head-img {
    background-position: right top;
  }
  .head-part-l {
    width: 0px;
  }
  .site-lang {
    left: 10px;
    margin-left: 0px;
    top: -50px;
  }
  .head-part-c {
    display: none;
  }
  .head-part-r {
    width: 100%;
  }
  .main-menu {
    overflow: hidden;
  }
  .main-menu .navbar-collapse.collapse {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-menu .navbar-nav {
    height: auto;
    text-align: left;
  }
  .main-menu .navbar-nav li {
    height: 100%;
    display: block;
  }
  .main-menu .navbar-nav:after {
    display: none;
  }
  .random-dictor {
    width: 40%;
  }
  .random-dictor-h {
    float: right;
    position: relative;
  }
  .random-dictor-h h3 {
    position: relative;
    right: 0px;
    top: 3px;
    font-size: 14px;
  }
  .random-dictor-about {
    float: left;
    width: 45%;
  }
  .random-dictor-about p {
    margin-left: 5px;
  }
  .random-dictor-about p.name {
    font-size: 14px;
  }
  .under-mainmenu-place {
    width: 60%;
  }
  .under-mainmenu-box.h70 {
    height: 100px;
  }
  .dictor-bank {
    width: 40%;
  }
  .dictor-bank-inner {
    padding: 5px 5px 0px 10px;
  }
  .dictor-bank-h {
    float: left;
    position: relative;
    margin-bottom: 10px;
  }
  .dictor-bank-h h3 {
    position: relative;
    right: auto;
    top: auto;
    font-size: 14px;
  }
  .adv-modul-small {
    width: 50%;
  }
  .dictor-bank {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .head-img {
    background-position: right top;
  }
  .head-part-l {
    width: 0px;
  }
  .site-lang {
    left: 10px;
    margin-left: 0px;
    top: -50px;
  }
  .head-part-c {
    display: none;
  }
  .head-part-r {
    width: 100%;
  }
  .main-menu {
    overflow: hidden;
  }
  .main-menu .navbar-collapse.collapse {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-menu .navbar-nav {
    height: auto;
    text-align: left;
  }
  .main-menu .navbar-nav li {
    height: 100%;
    display: block;
  }
  .main-menu .navbar-nav:after {
    display: none;
  }
  .site-lang {
    top: -80px;
  }
  .random-dictor {
    width: 100%;
  }
  .random-dictor-h {
    float: right;
    position: relative;
  }
  .random-dictor-h h3 {
    position: relative;
    right: 0px;
    top: 3px;
    font-size: 14px;
  }
  .random-dictor-foto {
    float: left;
    width: 40%;
  }
  .random-dictor-about {
    float: left;
    width: 60%;
  }
  .main-img {
    display: none;
  }
  .under-mainmenu-place {
    width: 100%;
    height: auto;
  }
  .under-mainmenu-box.h70 {
    height: auto;
  }
  .dictor-bank {
    width: 100%;
  }
  .dictor-bank-inner {
    padding: 5px 5px 0px 10px;
  }
  .dictor-bank-h {
    float: left;
    position: relative;
    margin-bottom: 10px;
  }
  .dictor-bank-h h3 {
    position: relative;
    right: auto;
    top: auto;
    font-size: 14px;
  }
}
@media (max-width: 319px) {
  .head-img {
    background-position: right top;
  }
  .head-part-l {
    width: 0px;
  }
  .site-lang {
    left: 10px;
    margin-left: 0px;
    top: -50px;
  }
  .head-part-c {
    display: none;
  }
  .head-part-r {
    width: 100%;
  }
  .main-menu {
    overflow: hidden;
  }
  .main-menu .navbar-collapse.collapse {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-menu .navbar-nav {
    height: auto;
    text-align: left;
  }
  .main-menu .navbar-nav li {
    height: 100%;
    display: block;
  }
  .main-menu .navbar-nav:after {
    display: none;
  }
  .site-lang {
    top: -80px;
  }
  .random-dictor {
    width: 100%;
  }
  .random-dictor-h {
    float: right;
    position: relative;
  }
  .random-dictor-h h3 {
    position: relative;
    right: 0px;
    top: 3px;
    font-size: 14px;
  }
  .random-dictor-foto {
    float: left;
    width: 40%;
  }
  .random-dictor-about {
    float: left;
    width: 60%;
  }
  .main-img {
    display: none;
  }
  .under-mainmenu-place {
    width: 100%;
    height: auto;
  }
  .under-mainmenu-box.h70 {
    height: auto;
  }
  .dictor-bank {
    width: 100%;
  }
  .dictor-bank-inner {
    padding: 5px 5px 0px 10px;
  }
  .dictor-bank-h {
    float: left;
    position: relative;
    margin-bottom: 10px;
  }
  .dictor-bank-h h3 {
    position: relative;
    right: auto;
    top: auto;
    font-size: 14px;
  }
  h1.site-h1 {
    font-size: 23px;
  }
  .contacts-ul li.tel {
    font-size: 20px;
    padding-left: 13px;
  }
}
