/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
.innerJustify .inner {
  text-align: justify;
}
.innerJustify .inner:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------main modules start-----------------------------------------------------------------------------------------*/
.mainMod-l {
  float: left;
  width: 25%;
  display: table;
  height: 100%;
  overflow: hidden;
}
.mainMod-l .middle {
  display: table-cell;
  vertical-align: middle;
}
.mainMod-l h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 25px;
  text-align: right;
  margin: 0px;
}
.mainMod-r {
  float: left;
  width: 75%;
  display: table;
  height: 100%;
  overflow: hidden;
}
.mainMod-r .inner {
  padding: 0 30px;
  display: table-cell;
  vertical-align: middle;
}
.mainMod-r img {
  margin-top: 15px;
}
/*---------------------------------------------------------------------------------main modules end-----------------------------------------------------------------------------------------------*/
.clients {
  height: 145px;
}
.clients .mainMod-l {
  background-color: #2e2d29;
}
.clients .mainMod-r {
  background-color: #ccd5da;
}
.clients .inner {
  text-align: justify;
}
.clients .inner:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
.studio {
  height: 245px;
}
.studio .mainMod-l {
  background-color: #19253d;
}
.studio p {
  color: #1b253e;
  font-size: 12px;
}
.works {
  height: 235px;
}
.works .mainMod-l {
  background-color: #ee1c25;
}
.works .inner {
  text-align: justify;
}
.works .inner:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
.partners {
  height: 145px;
}
.partners .mainMod-l {
  background-color: #5d6d87;
}
.partners .mainMod-r {
  background-color: #ccd5da;
}
.partners .inner {
  text-align: justify;
}
.partners .inner:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
/*---------------------------------------------------------------------------------services start-----------------------------------------------------------------------------------------------*/
.company-services {
  background-color: #ffffff;
}
.company-services-ul {
  list-style-type: none;
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  float: left;
  width: 100%;
}
.company-services-ul li {
  float: left;
  width: 25%;
  height: 130px;
  background-position: right 10px top 15px;
  background-repeat: no-repeat;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.company-services-ul li a {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #231f20;
}
.company-services-ul li a p {
  text-transform: uppercase;
  font-size: 12px;
  width: 135px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin: 0px;
}
.company-services-ul li:hover {
  background-color: #fabd00;
}
.company-services-ul li.active {
  background-color: #fabd00;
}
.company-services-ul li.item1 {
  background-image: url("../img/servises/servise1.png");
}
.company-services-ul li.item2 {
  background-image: url("../img/servises/servise2.png");
}
.company-services-ul li.item3 {
  background-image: url("../img/servises/servise3.png");
}
.company-services-ul li.item4 {
  background-image: url("../img/servises/servise4.png");
}
.company-services-ul li.item5 {
  background-image: url("../img/servises/servise5.png");
}
.company-services-ul li.item6 {
  background-image: url("../img/servises/servise6.png");
}
.company-services-ul li.item7 {
  background-image: url("../img/servises/servise7.png");
}
.company-services-ul li.item8 {
  background-image: url("../img/servises/servise8.png");
}
.company-services-ul li.item9 {
  background-image: url("../img/servises/servise9.png");
}
.company-services-ul li.item10 {
  background-image: url("../img/servises/servise10.png");
}
.company-services-ul li.item11 {
  background-image: url("../img/servises/servise11.png");
}
.company-services-ul li.item12 {
  background-image: url("../img/servises/servise12.png");
}
/*---------------------------------------------------------------------------------services end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
.allMobile .mainMod-l {
  width: 100%;
  display: block;
  height: auto;
  overflow: auto;
}
.allMobile .mainMod-l .middle {
  float: left;
  display: block;
  width: 100%;
}
.allMobile .mainMod-l h2 {
  padding-right: 0px;
  text-align: center;
  margin: 10px;
}
.allMobile .mainMod-r {
  width: 100%;
  display: block;
  height: auto;
  overflow: hidden;
}
.allMobile .mainMod-r .inner {
  padding: 15px 0px;
  float: left;
  display: block;
  width: 100%;
}
.allMobile .mainMod-r img {
  margin: 15px;
}
.allMobile .clients {
  height: auto;
}
.allMobile .clients img {
  max-width: 100px;
}
.allMobile .studio {
  height: auto;
}
.allMobile .studio p {
  font-size: 12px;
}
.allMobile .works {
  height: auto;
}
.allMobile .partners {
  height: auto;
}
.allMobile .partners img {
  max-width: 75px;
}
.smallMobile .mainMod-r img {
  margin: 0 15px 15px 15px;
}
.smallMobile .works .mainMod-r .inner {
  text-align: center;
}
@media (min-width: 1200px) {
  body {
    background-color: white;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .company-services-ul li {
    width: 33.3333%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .works img {
    max-width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .company-services-ul li {
    width: 50%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .clients img {
    max-width: 90px;
  }
  .studio p {
    color: #1b253e;
    font-size: 11px;
    margin: 0px 0px 5px;
  }
  .works img {
    max-width: 115px;
  }
  .partners img {
    max-width: 115px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .company-services-ul li {
    width: 50%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .mainMod-l {
    width: 100%;
    display: block;
    height: auto;
    overflow: auto;
  }
  .mainMod-l .middle {
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-l h2 {
    padding-right: 0px;
    text-align: center;
    margin: 10px;
  }
  .mainMod-r {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
  }
  .mainMod-r .inner {
    padding: 15px 0px;
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-r img {
    margin: 15px;
  }
  .clients {
    height: auto;
  }
  .clients img {
    max-width: 100px;
  }
  .studio {
    height: auto;
  }
  .studio p {
    font-size: 12px;
  }
  .works {
    height: auto;
  }
  .partners {
    height: auto;
  }
  .partners img {
    max-width: 75px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .company-services-ul li {
    width: 100%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .mainMod-l {
    width: 100%;
    display: block;
    height: auto;
    overflow: auto;
  }
  .mainMod-l .middle {
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-l h2 {
    padding-right: 0px;
    text-align: center;
    margin: 10px;
  }
  .mainMod-r {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
  }
  .mainMod-r .inner {
    padding: 15px 0px;
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-r img {
    margin: 15px;
  }
  .clients {
    height: auto;
  }
  .clients img {
    max-width: 100px;
  }
  .studio {
    height: auto;
  }
  .studio p {
    font-size: 12px;
  }
  .works {
    height: auto;
  }
  .partners {
    height: auto;
  }
  .partners img {
    max-width: 75px;
  }
  .mainMod-r img {
    margin: 0 15px 15px 15px;
  }
  .works .mainMod-r .inner {
    text-align: center;
  }
}
@media (max-width: 319px) {
  .company-services-ul li {
    width: 100%;
  }
  .company-services-ul li a p {
    font-size: 10px;
  }
  .mainMod-l {
    width: 100%;
    display: block;
    height: auto;
    overflow: auto;
  }
  .mainMod-l .middle {
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-l h2 {
    padding-right: 0px;
    text-align: center;
    margin: 10px;
  }
  .mainMod-r {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
  }
  .mainMod-r .inner {
    padding: 15px 0px;
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-r img {
    margin: 15px;
  }
  .clients {
    height: auto;
  }
  .clients img {
    max-width: 100px;
  }
  .studio {
    height: auto;
  }
  .studio p {
    font-size: 12px;
  }
  .works {
    height: auto;
  }
  .partners {
    height: auto;
  }
  .partners img {
    max-width: 75px;
  }
  .clients img {
    max-width: 90px;
  }
  .mainMod-r img {
    margin: 0 15px 15px 15px;
  }
  .works .mainMod-r .inner {
    text-align: center;
  }
}
