/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------studio start-----------------------------------------------------------------------------------------------*/
.studio-info {
  padding: 0 20px;
}
.upper {
  text-transform: uppercase;
}
.studio-info ul {
  list-style-type: none;
}
.studio-info ul li {
  margin-bottom: 10px;
}
.studio-items-box {
  overflow: hidden;
}
.studio-item-list {
  width: 100%;
  text-align: justify;
  margin-bottom: -20px;
}
.studio-item-list:after {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: ' i i i i i';
  word-spacing: 214px;
  padding-left: 214px;
}
.title-item {
  width: 247px;
  display: inline-block;
  text-align: left;
  line-height: normal;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 20px;
}
.studio-item {
  width: 247px;
  display: inline-block;
  text-align: left;
  line-height: normal;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 20px;
}
.studio-box,
.title-box {
  width: 100%;
  height: 247px;
  position: relative;
}
.studio-box img,
.title-box img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 5;
}
.studio-box .fon,
.title-box .fon {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 5;
  background-color: #ee1c24;
}
.studio-box .grey,
.title-box .grey {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
.studio-box .tbl,
.title-box .tbl {
  width: 100%;
  height: 100%;
  display: table;
}
.studio-box .txt,
.title-box .txt {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
.title-box .txt {
  text-align: right;
  padding-right: 10%;
}
.studio-item-menu {
  width: 100%;
  list-style-type: none;
  display: none;
}
.studio-item-menu li {
  padding: 2px 5px 2px 5px;
  font-size: 12px;
}
/*---------------------------------------------------------------------------------studio end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------main modules start-----------------------------------------------------------------------------------------*/
.mainMod-l {
  float: left;
  width: 22%;
  display: table;
  height: 100%;
  overflow: hidden;
}
.mainMod-l .middle {
  display: table-cell;
  vertical-align: middle;
}
.mainMod-l h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 25px;
  text-align: right;
  margin: 0px;
}
.mainMod-r {
  float: left;
  width: 78%;
  height: 100%;
  overflow: hidden;
}
.mainMod-r .inner {
  padding: 18px;
}
.mainMod-r .inside {
  padding: 18px;
  height: 100%;
}
.mainMod-r .inside .part {
  float: left;
  width: 33.333%;
  height: 100%;
  position: relative;
}
.mainMod-r .inside .part a {
  position: absolute;
}
.mainMod-r .inside .part a img {
  max-width: 100%;
}
.mainMod-r .inside .part a.item1 {
  left: 0px;
  top: 0px;
  max-width: 100%;
}
.mainMod-r .inside .part a.item2 {
  left: 0px;
  top: 85px;
  max-width: 100%;
}
.mainMod-r .inside .part a.item3 {
  left: 40px;
  top: 0px;
  max-width: 60%;
}
.mainMod-r .inside .part a.item4 {
  left: 40px;
  top: 80px;
  max-width: 70%;
}
.mainMod-r .inside .part a.item5 {
  left: 0px;
  top: 0px;
  max-width: 100%;
}
.mainMod-r .inside .part a.item6 {
  left: 0px;
  top: 140px;
  max-width: 100%;
}
#works-process-carousel .item {
  text-align: center;
}
#works-process-carousel img {
  max-width: 100%;
  max-height: 100%;
}
#works-process-carousel .owl-controls .owl-buttons .owl-prev {
  width: 30px;
  height: 130px;
  background-image: url('../img/left.png');
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  left: -30px;
  top: 0px;
}
#works-process-carousel .owl-controls .owl-buttons .owl-next {
  width: 30px;
  height: 130px;
  background-image: url('../img/right.png');
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  right: -30px;
  top: 0px;
}
/*---------------------------------------------------------------------------------main modules end-----------------------------------------------------------------------------------------------*/
.works-process {
  height: 166px;
  background-color: #a9aab4;
}
.colleagues {
  height: 240px;
  background-color: #f8941d;
}
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
.smallMobile .works-process,
.smallMobile .colleagues {
  height: auto;
}
.smallMobile .mainMod-l {
  float: left;
  width: 100%;
  display: block;
  height: auto;
}
.smallMobile .mainMod-l .middle {
  float: left;
  display: block;
  width: 100%;
}
.smallMobile .mainMod-l h2 {
  font-size: 14px;
  padding-right: 0px;
  text-align: center;
  padding: 5px;
}
.smallMobile .colleagues {
  height: auto;
}
.smallMobile .mainMod-r {
  width: 100%;
  height: auto;
}
.smallMobile .mainMod-r .inner {
  padding: 18px;
}
.smallMobile .mainMod-r .inside {
  padding: 18px;
  height: 100%;
}
.smallMobile .mainMod-r .inside .part {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
.smallMobile .mainMod-r .inside .part a {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.smallMobile .mainMod-r .inside .part a img {
  max-width: 100%;
}
.smallMobile .mainMod-r .inside .part a.item1 {
  left: auto;
  top: auto;
  max-width: 50%;
}
.smallMobile .mainMod-r .inside .part a.item2 {
  left: auto;
  top: auto;
  max-width: 50%;
}
.smallMobile .mainMod-r .inside .part a.item3 {
  left: auto;
  top: auto;
  max-width: 50%;
}
.smallMobile .mainMod-r .inside .part a.item4 {
  left: auto;
  top: auto;
  max-width: 50%;
}
.smallMobile .mainMod-r .inside .part a.item5 {
  left: auto;
  top: auto;
  max-width: 50%;
}
.smallMobile .mainMod-r .inside .part a.item6 {
  left: auto;
  top: auto;
  max-width: 50%;
}
.smallMobile .mainMod-r.h100 {
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .studio-item,
  .title-item {
    width: 220px;
  }
  .studio-box,
  .title-box {
    height: 220px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .item-client {
    width: 50%;
  }
  .item-client .item-box {
    height: 130px;
  }
  .item-client .clients-l {
    width: 50%;
  }
  .item-client .clients-l .v-align img {
    margin: auto auto;
  }
  .item-client .clients-r {
    width: 50%;
  }
  .item-client .clients-r p {
    font-size: 12px;
  }
  .item-client .clients-r a {
    position: absolute;
  }
  .client-info {
    width: 200%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 25%;
  }
  .studio-item,
  .title-item {
    width: 147px;
  }
  .studio-box,
  .title-box {
    height: 147px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
  .studio-item,
  .title-item {
    width: 214px;
  }
  .studio-box,
  .title-box {
    height: 214px;
  }
  .mainMod-r .inside .part a.item3 {
    left: 15px;
    top: 0px;
    max-width: 60%;
  }
  .mainMod-r .inside .part a.item4 {
    left: 15px;
    top: 80px;
    max-width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .works-process,
  .colleagues {
    height: auto;
  }
  .mainMod-l {
    float: left;
    width: 100%;
    display: block;
    height: auto;
  }
  .mainMod-l .middle {
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-l h2 {
    font-size: 14px;
    padding-right: 0px;
    text-align: center;
    padding: 5px;
  }
  .colleagues {
    height: auto;
  }
  .mainMod-r {
    width: 100%;
    height: auto;
  }
  .mainMod-r .inner {
    padding: 18px;
  }
  .mainMod-r .inside {
    padding: 18px;
    height: 100%;
  }
  .mainMod-r .inside .part {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  .mainMod-r .inside .part a {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  .mainMod-r .inside .part a img {
    max-width: 100%;
  }
  .mainMod-r .inside .part a.item1 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item2 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item3 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item4 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item5 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item6 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r.h100 {
    height: 100%;
  }
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
  .studio-item-list {
    text-align: center;
  }
  .works-process,
  .colleagues {
    height: auto;
  }
  .mainMod-l {
    float: left;
    width: 100%;
    display: block;
    height: auto;
  }
  .mainMod-l .middle {
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-l h2 {
    font-size: 14px;
    padding-right: 0px;
    text-align: center;
    padding: 5px;
  }
  .colleagues {
    height: auto;
  }
  .mainMod-r {
    width: 100%;
    height: auto;
  }
  .mainMod-r .inner {
    padding: 18px;
  }
  .mainMod-r .inside {
    padding: 18px;
    height: 100%;
  }
  .mainMod-r .inside .part {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  .mainMod-r .inside .part a {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  .mainMod-r .inside .part a img {
    max-width: 100%;
  }
  .mainMod-r .inside .part a.item1 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item2 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item3 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item4 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item5 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item6 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r.h100 {
    height: 100%;
  }
}
@media (max-width: 319px) {
  .item-client {
    width: 100%;
  }
  .item-client .item-box {
    height: auto;
  }
  .item-client .clients-l {
    width: 100%;
  }
  .item-client .clients-l .v-align img {
    margin: 15px 15px;
  }
  .item-client .clients-r {
    width: 100%;
  }
  .item-client .clients-r p {
    font-size: 14px;
  }
  .item-client .clients-r a {
    position: relative;
  }
  .client-info {
    width: 100%;
  }
  .client-info-txt {
    padding: 10px 5% 10px 5%;
  }
  .item-sort-l {
    width: 100%;
  }
  .item-sort-r {
    width: 100%;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
  }
  .studio-item-list {
    text-align: center;
  }
  .works-process,
  .colleagues {
    height: auto;
  }
  .mainMod-l {
    float: left;
    width: 100%;
    display: block;
    height: auto;
  }
  .mainMod-l .middle {
    float: left;
    display: block;
    width: 100%;
  }
  .mainMod-l h2 {
    font-size: 14px;
    padding-right: 0px;
    text-align: center;
    padding: 5px;
  }
  .colleagues {
    height: auto;
  }
  .mainMod-r {
    width: 100%;
    height: auto;
  }
  .mainMod-r .inner {
    padding: 18px;
  }
  .mainMod-r .inside {
    padding: 18px;
    height: 100%;
  }
  .mainMod-r .inside .part {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  .mainMod-r .inside .part a {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  .mainMod-r .inside .part a img {
    max-width: 100%;
  }
  .mainMod-r .inside .part a.item1 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item2 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item3 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item4 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item5 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r .inside .part a.item6 {
    left: auto;
    top: auto;
    max-width: 50%;
  }
  .mainMod-r.h100 {
    height: 100%;
  }
}
