.fl-w100(){float: left; width : 100%;}
.h-lh(@size){height: @size; line-height: @size;}


.gradient(@pos, @color1, @color2) {
	background: linear-gradient(@pos, @color1, @color2);
	background: -moz-linear-gradient(@pos, @color1, @color2);
	background: -ms-linear-gradient(@pos, @color1, @color2);
	background: -o-linear-gradient(@pos, @color1, @color2);
	background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color) {
    box-shadow:@x @y @fade @size @color;
	-webkit-box-shadow:@x @y @fade @size @color; 
	-moz-box-shadow:@x @y @fade @size @color; 
	-khtml-box-shadow:@x @y @fade @size @color; 
	-o-box-shadow:@x @y @fade @size @color;
}

.radius(@size) {
	border-radius:@size; 
	-webkit-border-radius:@size; 
	-moz-border-radius:@size; 
	-khtml-border-radius:@size;
}

.multyborderradius(@a, @b, @c, @d){
  border-radius:@a @b @c @d;
  -webkit-border-radius:@a @b @c @d;
  -moz-border-radius:@a @b @c @d;
  -khtml-border-radius:@a @b @c @d;
}

.multyradius(@r, @x, @y){
  -webkit-transform: rotate(@r) translateX(@x) translateY(@y);
  -moz-transform: rotate(@r) translateX(@x) translateY(@y);
  -o-transform:  rotate(@r) translateX(@x) translateY(@y);
  transform: rotate(@r) translateX(@x) translateY(@y);
}


/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img{border:0px; outline:none;}
h1,h2,h3{}
a{border: 0px; outline: 0px; text-decoration: underline; &:hover{text-decoration: none;}}
.kris-line{.fl-w100();}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}

.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px}
.mb55{margin-bottom:55px}
.mb60{margin-bottom:60px}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mb80{margin-bottom:80px}
.mb85{margin-bottom:85px}
.mb90{margin-bottom:90px}
.mb95{margin-bottom:95px}
.mb100{margin-bottom:100px}

.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt55{margin-top:55px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt90{margin-top:90px}
.mt95{margin-top:95px}
.mt100{margin-top:100px}

.padding10{padding: 10px;}



/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
.calkulate-main-box{}
  .calkulate-body{float: left; width: 100%; height: 240px; background-image: url("../img/culk-bkg.jpg"); background-repeat: repeat-x;
                    background-size: contain;.radius(10px); border: 1px solid #000000;}
    .calk-part{float: left; width: 25%; height: 100%;}
    .calk-part-tr{width: 100%;  height: 100%; display: table;}
      .calk-part-td{width: 100%;  height: 100%; display: table-cell; vertical-align: middle;
        h2{color: #000000; font-weight: bold; text-transform: uppercase; font-size: 17px; margin-left: 10%;}
      }
      .calk-rol-time-tit{float: left; width: 100%; color: #000000; text-transform: uppercase; font-size: 12px; margin-top: 15px;}
        .calk-input-part{float: left; width: 30%; margin-right: 3.33%}
          .calk-input{float: left; width: 45%; max-width: 35px; height: 40px; border: 1px solid #000000; background-color: transparent;
                          .radius(5px); margin-left: 2px; text-align: center; font-size: 25px; color: #000000;}
          .time-type{text-align: center; color: #595657; font-size: 12px;}
      .mover-main-box{float: left; width: 100%; height: 17px; background-image: url("../img/mover-fon.png"); background-repeat: no-repeat; background-size: contain;
                        position: relative;}
        .mover-rol{width: 22px; height: 22px; position: absolute; background-image: url("../img/mover-roll.png"); cursor: pointer;
                    background-repeat: no-repeat; left: 2px; top: -2px;}
        .calk-part-lb{float: left; width: 90%; height: 90%; border-left: 1px solid #000000; margin-top: 5%; margin-left: 5%;}
          .calk-filter-ul{float: left; list-style-type: none; margin-left: 15px;
            li{float:left; width: 100%; margin-bottom: 20px;}
          }
            .calk-checkbox.btn{width: auto; height: 17px; padding: 0px; background-image: url("../img/culk-input-checkbox.png"); background-repeat: no-repeat;
              border: 0px solid transparent; .radius(0px); background-position: left -17px; padding-left: 22px; line-height: 15px; text-align: left;}
            .calk-checkbox.btn.active{background-position: left 0px; .shadow(inset, 0, 0, 0, transparent);}
            .calk-checkbox.btn:active{background-position: left 0px; .shadow(inset, 0, 0, 0, transparent);}
      .not-afferta{color: #898989; font-size: 11px; text-align: right; float: left; width: 100%;}
      .calk-price-num{float: left; width: 100%; text-align: center; font-size: 25px; color: #000000; margin-top: 40px; margin-bottom: 0px;}
      .calk-price-tit{float: left; width: 100%; text-align: center; font-size: 12px; color: #000000; margin-bottom: 0px;}
      .calk-price-btnbox{float: left; width: 100%; text-align: center; margin-top: 15px;
        .btn{.gradient(to bottom, #5f718d, #001538); text-transform: uppercase; font-size: 12px;}
        .btn:hover{.gradient(to top, #5f718d, #001538);}
      }


/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@bidscreen: ~"(min-width: 1200px)";

@screen: ~"(min-width: 992px) and (max-width: 1200px)";

@tablets: ~"(min-width: 768px) and (max-width: 991px)";

@bigmobile: ~"(min-width: 480px) and (max-width: 767px)";

@mobile: ~"(min-width: 320px) and (max-width: 479px)";

@smallmobile: ~"(max-width: 319px)";

.allgajetscreen{}

.allMobile{}

.smallMobile{}

.calkulate-main(@btn, @sm, @w1, @w2, @w3, @w4, @h2, @mh){
  .calk-checkbox.btn{font-size: @btn;
    .smalltxt{font-size: @sm;}
  }
  .calk-part.part1{width: @w1;}
  .calk-part.part2{width: @w2;}
  .calk-part.part3{width: @w3;}
  .calk-part.part4{width: @w4;}
  .calk-part-td{h2{font-size: @h2;}}
  .calkulate-body{height: @mh;}
}

.calkulate-small(){
  .calk-checkbox.btn{font-size: 13px;
    .smalltxt{font-size: 12px;}
  }
  .calk-part{width: 90%; margin-left: 5%; border-top: 1px solid #000000;}
  .calk-part:first-child{border-top: 0px solid transparent;}
  .calk-part.part2{padding-bottom: 15px;}
  .calk-input-part{text-align: center;}
  .calk-part-td{h2{font-size: 13px; margin-left: 0px;}}
  .calkulate-body{height: auto;}
  .time-type{float: left; width: 100%;}
  .calk-input{float: none; display: inline-block}
  .calk-part-lb{margin-left: 0px; border-left: 0px solid transparent;}
  .calk-price-num{margin-top: 0px;}
  .calk-price-btnbox{margin-bottom: 15px;}
}


@media @bidscreen {
//  body {background-color: white;}
 // .servise-size(33.3333%, 10px);
}

@media @screen {
//  body {background-color: aqua;}
  .calkulate-main(13px, 12px, 25%, 25%, 25%, 25%, 17px, 240px);
}

@media @tablets {
//  body{background-color: gold;}
  .calkulate-main(13px, 12px, 15%, 25%, 35%, 25%, 11px, 240px);

}


@media @bigmobile {
//  body{background-color: fuchsia;}
  .allMobile();
  .calkulate-small();
}

@media @mobile {
//  body{background-color: red;}
  .allMobile();
  .smallMobile();
  .calkulate-small();

}

@media @smallmobile {
//  body{background-color: green;}
  .allMobile();
  .smallMobile();
  .calkulate-small();
  .calk-input{width: 40%;}
}





























