.fl-w100(){float: left; width : 100%;}
.h-lh(@size){height: @size; line-height: @size;}


.gradient(@pos, @color1, @color2) {
	background: linear-gradient(@pos, @color1, @color2);
	background: -moz-linear-gradient(@pos, @color1, @color2);
	background: -ms-linear-gradient(@pos, @color1, @color2);
	background: -o-linear-gradient(@pos, @color1, @color2);
	background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color) {
    box-shadow:@x @y @fade @size @color; 
	-webkit-box-shadow:@x @y @fade @size @color; 
	-moz-box-shadow:@x @y @fade @size @color; 
	-khtml-box-shadow:@x @y @fade @size @color; 
	-o-box-shadow:@x @y @fade @size @color;
}

.radius(@size) {
	border-radius:@size; 
	-webkit-border-radius:@size; 
	-moz-border-radius:@size; 
	-khtml-border-radius:@size;
}

.multyradius(@a, @b, @c, @d){
  border-radius:@a @b @c @d;
  -webkit-border-radius:@a @b @c @d;
  -moz-border-radius:@a @b @c @d;
  -khtml-border-radius:@a @b @c @d;
}

.multyradius(@r, @x, @y){
  -webkit-transform: rotate(@r) translateX(@x) translateY(@y);
  -moz-transform: rotate(@r) translateX(@x) translateY(@y);
  -o-transform:  rotate(@r) translateX(@x) translateY(@y);
  transform: rotate(@r) translateX(@x) translateY(@y);
}

.servise-size(@w, @f){
  .company-services-ul{
    li{width: @w;
      a{
        p{font-size: @f;}
      }
    }
  }
}
/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img{border:0px; outline:none;}
h1,h2,h3{}
a{border: 0px; outline: 0px; text-decoration: underline; &:hover{text-decoration: none;}}
.kris-line{.fl-w100();}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}

.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px}
.mb55{margin-bottom:55px}
.mb60{margin-bottom:60px}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mb80{margin-bottom:80px}
.mb85{margin-bottom:85px}
.mb90{margin-bottom:90px}
.mb95{margin-bottom:95px}
.mb100{margin-bottom:100px}

.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt55{margin-top:55px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt90{margin-top:90px}
.mt95{margin-top:95px}
.mt100{margin-top:100px}

.padding10{padding: 10px;}



.innerJustify{
  .inner{text-align: justify;}
  .inner:after {
    content:""; display:inline-block; width:100%; height:0;
  }
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------main modules start-----------------------------------------------------------------------------------------*/
.mainMod-l{float: left; width: 25%; display: table; height: 100%; overflow: hidden;
  .middle{display: table-cell; vertical-align: middle;}
  h2{color: #ffffff; text-transform: uppercase; font-size: 13px; padding-right: 25px; text-align: right; margin: 0px;}
}
.mainMod-r{float: left; width: 75%; display: table; height: 100%; overflow: hidden;
  .inner{padding: 0 30px; display: table-cell; vertical-align: middle;}
  img{margin-top: 15px;}
}

/*---------------------------------------------------------------------------------main modules end-----------------------------------------------------------------------------------------------*/
.clients{height: 145px;
  .mainMod-l{background-color: #2e2d29;}
  .mainMod-r{background-color: #ccd5da;}
  .innerJustify();
}

.studio{height: 245px;
  .mainMod-l{background-color: #19253d;}
  p{color: #1b253e; font-size: 12px;}
}

.works{height: 235px;
  .mainMod-l{background-color: #ee1c25;}
  .innerJustify();
}

.partners{height: 145px;
  .mainMod-l{background-color: #5d6d87;}
  .mainMod-r{background-color: #ccd5da;}
  .innerJustify();
}


/*---------------------------------------------------------------------------------services start-----------------------------------------------------------------------------------------------*/
.company-services{background-color: #ffffff;}
.company-services-ul{list-style-type: none; border-left: 1px solid #d4d4d4; border-top: 1px solid #d4d4d4; float: left; width: 100%;
  li{float: left; width: 25%; height: 130px; background-position:  right 10px top 15px; background-repeat: no-repeat; border-right: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;
    a{float: left; display: block; width: 100%; height: 100%; position: relative; color: #231f20;
      p{text-transform: uppercase; font-size: 12px; width: 135px; position: absolute; left: 15px; bottom: 15px; margin: 0px;}
    }
    &:hover{background-color: #fabd00;}
  }
  li.active{background-color: #fabd00;}
  li.item1{background-image: url("../img/servises/servise1.png");}
  li.item2{background-image: url("../img/servises/servise2.png");}
  li.item3{background-image: url("../img/servises/servise3.png");}
  li.item4{background-image: url("../img/servises/servise4.png");}
  li.item5{background-image: url("../img/servises/servise5.png");}
  li.item6{background-image: url("../img/servises/servise6.png");}
  li.item7{background-image: url("../img/servises/servise7.png");}
  li.item8{background-image: url("../img/servises/servise8.png");}
  li.item9{background-image: url("../img/servises/servise9.png");}
  li.item10{background-image: url("../img/servises/servise10.png");}
  li.item11{background-image: url("../img/servises/servise11.png");}
  li.item12{background-image: url("../img/servises/servise12.png");}
}

/*---------------------------------------------------------------------------------services end---------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@bidscreen: ~"(min-width: 1200px)";

@screen: ~"(min-width: 992px) and (max-width: 1200px)";

@tablets: ~"(min-width: 768px) and (max-width: 991px)";

@bigmobile: ~"(min-width: 480px) and (max-width: 767px)";

@mobile: ~"(min-width: 320px) and (max-width: 479px)";

@smallmobile: ~"(max-width: 319px)";

.allgajetscreen{


}

.allMobile{
  .mainMod-l{width: 100%; display: block; height: auto; overflow: auto;
    .middle{float: left; display: block; width: 100%;}
    h2{padding-right: 0px; text-align: center; margin: 10px;}
  }
  .mainMod-r{width: 100%; display: block; height: auto; overflow: hidden;
    .inner{padding: 15px 0px; float: left; display: block; width: 100%;}
    img{margin: 15px;}
  }

  .clients{height: auto;
    img{max-width: 100px;}
  }

  .studio{height: auto;
    p{font-size: 12px;}
  }

  .works{height: auto;}

  .partners{height: auto;
    img{max-width: 75px;}
  }
}

.smallMobile{
  .mainMod-r{
    img{margin: 0 15px 15px 15px;}
  }
  .works{
    .mainMod-r{
      .inner{text-align: center}
    }
  }
}

@media @bidscreen {
  body {background-color: white;}
}

@media @screen {
//  body {background-color: aqua;}
  .servise-size(33.3333%, 10px);
  .works{
    img{max-width: 150px;}
  }
}

@media @tablets {
//  body{background-color: gold;}
  .servise-size(50%, 10px);
  .clients{
    img{max-width: 90px;}
  }

  .studio{
    p{color: #1b253e; font-size: 11px; margin: 0px 0px 5px;}
  }

  .works{
    img{max-width: 115px;}
  }

  .partners{
    img{max-width: 115px;}
  }
}


@media @bigmobile {
//  body{background-color: fuchsia;}
  .servise-size(50%, 10px);
  .allMobile();
}

@media @mobile {
//  body{background-color: red;}
  .servise-size(100%, 10px);
  .allMobile();
  .smallMobile();

}

@media @smallmobile {
//  body{background-color: green;}
  .servise-size(100%, 10px);
  .allMobile();
  .clients{
    img{max-width: 90px;}
  }
  .smallMobile();
}





























