.fl-w100(){float: left; width : 100%;}
.h-lh(@size){height: @size; line-height: @size;}


.gradient(@pos, @color1, @color2) {
  background: linear-gradient(@pos, @color1, @color2);
  background: -moz-linear-gradient(@pos, @color1, @color2);
  background: -ms-linear-gradient(@pos, @color1, @color2);
  background: -o-linear-gradient(@pos, @color1, @color2);
  background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color) {
  box-shadow:@x @y @fade @size @color;
  -webkit-box-shadow:@x @y @fade @size @color;
  -moz-box-shadow:@x @y @fade @size @color;
  -khtml-box-shadow:@x @y @fade @size @color;
  -o-box-shadow:@x @y @fade @size @color;
}

.radius(@size) {
  border-radius:@size;
  -webkit-border-radius:@size;
  -moz-border-radius:@size;
  -khtml-border-radius:@size;
}

.multyradius(@a, @b, @c, @d){
  border-radius:@a @b @c @d;
  -webkit-border-radius:@a @b @c @d;
  -moz-border-radius:@a @b @c @d;
  -khtml-border-radius:@a @b @c @d;
}

.multyradius(@r, @x, @y){
  -webkit-transform: rotate(@r) translateX(@x) translateY(@y);
  -moz-transform: rotate(@r) translateX(@x) translateY(@y);
  -o-transform:  rotate(@r) translateX(@x) translateY(@y);
  transform: rotate(@r) translateX(@x) translateY(@y);
}

.clients-size(@w, @h, @f, @m, @p, @winfo, @pl){
    .item-client{width: @w;
      .item-box{height: @h;}
      .clients-l{width: @w;
        .v-align{
          img{margin: @m @m;}
        }
      }
      .clients-r{width: @w;
        p{font-size: @f;}
        a{position: @p;}
      }
    }
  .client-info{width: @winfo;}
  .client-info-txt{padding: 10px 5% 10px @pl;}
}

.sort-size(@wl, @wr, @pg){
  .item-sort-l{width: @wl;}
  .item-sort-r{width: @wr;
      .btn-group-box{
        .btn.btn-user{padding: 3px @pg;}
      }
  }
}
/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img{border:0px; outline:none;}
h1,h2,h3{}
a{border: 0px; outline: 0px; text-decoration: underline; &:hover{text-decoration: none;}}
.kris-line{.fl-w100();}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}

.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px}
.mb55{margin-bottom:55px}
.mb60{margin-bottom:60px}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mb80{margin-bottom:80px}
.mb85{margin-bottom:85px}
.mb90{margin-bottom:90px}
.mb95{margin-bottom:95px}
.mb100{margin-bottom:100px}

.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt55{margin-top:55px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt90{margin-top:90px}
.mt95{margin-top:95px}
.mt100{margin-top:100px}

.padding10{padding: 10px;}


/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------works start-----------------------------------------------------------------------------------------------*/
.work-item-list{width: 100%; text-align: justify;}
.work-item-list:after{width: 100%; height: 0; visibility: hidden; overflow: hidden; content: ''; display: inline-block;}
  .work-item{width: 240px; display: inline-block; text-align: left; line-height: normal; vertical-align: top; cursor: pointer; margin-bottom: 20px;}
    .work-box{width: 100%; height: 160px; position: relative;
      img{max-width: 100%; max-height: 100%; position: absolute; z-index: 5;}
      .grey{width: 100%; height: 100%; position: absolute; background: rgba(0, 0, 0, 0.8); z-index: 10;}
        .tbl{width: 100%; height: 100%; display: table;}
        .txt{width: 100%; height: 100%; display: table-cell; vertical-align: middle; color: #ffffff; text-align: center; text-transform: uppercase; font-size: 12px;}
    }
  .work-item-menu{width: 100%; list-style-type: none; display: none;
    li{border: 1px solid #a2a8a9; border-top: 0px solid transparent; padding: 5px; font-size: 12px;}
    li:hover{background-color: #cbd5da; border: 1px solid #cbd5da; border-top: 0px solid #cbd5da;}
  }



/*---------------------------------------------------------------------------------works end---------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@bidscreen: ~"(min-width: 1200px)";

@screen: ~"(min-width: 992px) and (max-width: 1200px)";

@tablets: ~"(min-width: 768px) and (max-width: 991px)";

@bigmobile: ~"(min-width: 480px) and (max-width: 767px)";

@mobile: ~"(min-width: 320px) and (max-width: 479px)";

@smallmobile: ~"(max-width: 319px)";

.work-item-size(@a, @b){
  .work-item{width: @a;}
  .work-box{height: @b;}
};

.work-item-smallsize(){
  .work-item-list{text-align: center;}
};

.allgajetscreen{


}

.allMobile{

}

.smallMobile{

}

@media @bidscreen {
  //  body {background-color: white;}

}

@media @screen {
  //  body {background-color: aqua;}
  .work-item-size(220px, 147px);
}

@media @tablets {
  //  body{background-color: gold;}
  .clients-size(50%, 130px, 12px, auto, absolute, 200%, 25%);
  .work-item-size(220px, 147px);
}


@media @bigmobile {
  //  body{background-color: fuchsia;}
  .allMobile();
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);
  .work-item-size(210px, 140px);
}

@media @mobile {
  //  body{background-color: red;}
  .allMobile();
  .smallMobile();
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);
  .work-item-smallsize();

}

@media @smallmobile {
  //  body{background-color: green;}
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);
  .work-item-smallsize();
//  .allMobile();

//  .smallMobile();
}





























