.fl-w100(){float: left; width : 100%;}
.h-lh(@size){height: @size; line-height: @size;}


.gradient(@pos, @color1, @color2) {
  background: linear-gradient(@pos, @color1, @color2);
  background: -moz-linear-gradient(@pos, @color1, @color2);
  background: -ms-linear-gradient(@pos, @color1, @color2);
  background: -o-linear-gradient(@pos, @color1, @color2);
  background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color) {
  box-shadow:@x @y @fade @size @color;
  -webkit-box-shadow:@x @y @fade @size @color;
  -moz-box-shadow:@x @y @fade @size @color;
  -khtml-box-shadow:@x @y @fade @size @color;
  -o-box-shadow:@x @y @fade @size @color;
}

.radius(@size) {
  border-radius:@size;
  -webkit-border-radius:@size;
  -moz-border-radius:@size;
  -khtml-border-radius:@size;
}

.multyradius(@a, @b, @c, @d){
  border-radius:@a @b @c @d;
  -webkit-border-radius:@a @b @c @d;
  -moz-border-radius:@a @b @c @d;
  -khtml-border-radius:@a @b @c @d;
}

.multyradius(@r, @x, @y){
  -webkit-transform: rotate(@r) translateX(@x) translateY(@y);
  -moz-transform: rotate(@r) translateX(@x) translateY(@y);
  -o-transform:  rotate(@r) translateX(@x) translateY(@y);
  transform: rotate(@r) translateX(@x) translateY(@y);
}

.clients-size(@w, @h, @f, @m, @p, @winfo, @pl){
    .item-client{width: @w;
      .item-box{height: @h;}
      .clients-l{width: @w;
        .v-align{
          img{margin: @m @m;}
        }
      }
      .clients-r{width: @w;
        p{font-size: @f;}
        a{position: @p;}
      }
    }
  .client-info{width: @winfo;}
  .client-info-txt{padding: 10px 5% 10px @pl;}
}

.sort-size(@wl, @wr, @pg){
  .item-sort-l{width: @wl;}
  .item-sort-r{width: @wr;
      .btn-group-box{
        .btn.btn-user{padding: 3px @pg;}
      }
  }
}
/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img{border:0px; outline:none;}
h1,h2,h3{}
a{border: 0px; outline: 0px; text-decoration: underline; &:hover{text-decoration: none;}}
.kris-line{.fl-w100();}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}

.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px}
.mb55{margin-bottom:55px}
.mb60{margin-bottom:60px}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mb80{margin-bottom:80px}
.mb85{margin-bottom:85px}
.mb90{margin-bottom:90px}
.mb95{margin-bottom:95px}
.mb100{margin-bottom:100px}

.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt55{margin-top:55px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt90{margin-top:90px}
.mt95{margin-top:95px}
.mt100{margin-top:100px}

.padding10{padding: 10px;}


/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------studio start-----------------------------------------------------------------------------------------------*/
.studio-info{padding: 0 20px;}
.upper{text-transform: uppercase;}
.studio-info{
  ul{list-style-type: none;
    li{margin-bottom: 10px;}
  }
}

.studio-items-box{overflow: hidden;}
.studio-item-list{width: 100%; text-align: justify; margin-bottom: -20px;}
.studio-item-list:after{height: 0; visibility: hidden; overflow: hidden; content: ' i i i i i'; word-spacing: 214px; padding-left: 214px;}
  .title-item{width: 247px; display: inline-block; text-align: left; line-height: normal; vertical-align: top; cursor: pointer; margin-bottom: 20px;}
  .studio-item{width: 247px; display: inline-block; text-align: left; line-height: normal; vertical-align: top; cursor: pointer; margin-bottom: 20px;}
    .studio-box, .title-box{width: 100%; height: 247px; position: relative;
      img{max-width: 100%; max-height: 100%; position: absolute; z-index: 5;}
      .fon{width: 100%; height: 100%; max-width: 100%; max-height: 100%; position: absolute; z-index: 5; background-color: #ee1c24;}
      .grey{width: 100%; height: 100%; position: absolute; z-index: 10;}
        .tbl{width: 100%; height: 100%; display: table;}
        .txt{width: 100%; height: 100%; display: table-cell; vertical-align: middle; color: #ffffff; text-align: center; text-transform: uppercase; font-size: 13px;}
    }
  .title-box{
    .txt{text-align: right; padding-right: 10%;}
  }
  .studio-item-menu{width: 100%; list-style-type: none; display: none;
    li{padding: 2px 5px 2px 5px; font-size: 12px;}
  }



/*---------------------------------------------------------------------------------studio end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------main modules start-----------------------------------------------------------------------------------------*/
.mainMod-l{float: left; width: 22%; display: table; height: 100%; overflow: hidden;
  .middle{display: table-cell; vertical-align: middle;}
  h2{color: #ffffff; text-transform: uppercase; font-size: 13px; padding-right: 25px; text-align: right; margin: 0px;}
}
.mainMod-r{float: left; width: 78%; height: 100%; overflow: hidden;
  .inner{padding: 18px;}
  .inside{padding: 18px; height: 100%;
    .part{float: left; width: 33.333%; height: 100%; position: relative;
      a{position: absolute;
        img{max-width: 100%;}
      }
      a.item1{left: 0px; top: 0px; max-width: 100%;}
      a.item2{left: 0px; top: 85px; max-width: 100%;}
      a.item3{left: 40px; top: 0px; max-width: 60%;}
      a.item4{left: 40px; top: 80px; max-width: 70%;}
      a.item5{left: 0px; top: 0px; max-width: 100%;}
      a.item6{left: 0px; top: 140px; max-width: 100%;}
    }
  }
}
#works-process-carousel{
  .item{text-align: center;}
  img{max-width: 100%; max-height: 100%;}
  .owl-controls{
    .owl-buttons .owl-prev{width: 30px; height: 130px; background-image: url('../img/left.png'); background-repeat: no-repeat; background-position: right center; position: absolute; left: -30px; top: 0px;}
    .owl-buttons .owl-next{width: 30px; height: 130px; background-image: url('../img/right.png'); background-repeat: no-repeat; background-position: left center; position: absolute; right: -30px; top: 0px;}
  }

}
/*---------------------------------------------------------------------------------main modules end-----------------------------------------------------------------------------------------------*/


.works-process{height: 166px; background-color: #a9aab4;}
.colleagues{height: 240px; background-color: #f8941d;}

/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@bidscreen: ~"(min-width: 1200px)";

@screen: ~"(min-width: 992px) and (max-width: 1200px)";

@tablets: ~"(min-width: 768px) and (max-width: 991px)";

@bigmobile: ~"(min-width: 480px) and (max-width: 767px)";

@mobile: ~"(min-width: 320px) and (max-width: 479px)";

@smallmobile: ~"(max-width: 319px)";

.studio-item-size(@a, @b){
  .studio-item, .title-item{width: @a;}
  .studio-box, .title-box{height: @b;}
};

.studio-item-smallsize(){
  .studio-item-list{text-align: center;}
};

.allgajetscreen{


}

.allMobile{

}

.smallMobile{
  .works-process, .colleagues{height: auto;}
  .mainMod-l{float: left; width: 100%; display: block; height: auto;
    .middle{float: left; display: block; width: 100%;}
    h2{font-size: 14px; padding-right: 0px; text-align: center; padding: 5px;}
  }
  .colleagues{height: auto;}

  .mainMod-r{width: 100%; height: auto;
    .inner{padding: 18px;}
    .inside{padding: 18px; height: 100%;
      .part{float: left; width: 100%; height: auto; position: relative; text-align: center;
        a{position: relative; display: inline-block; margin: 10px;
          img{max-width: 100%;}
        }
        a.item1{left: auto; top: auto; max-width: 50%;}
        a.item2{left: auto; top: auto; max-width: 50%;}
        a.item3{left: auto; top: auto; max-width: 50%;}
        a.item4{left: auto; top: auto; max-width: 50%;}
        a.item5{left: auto; top: auto; max-width: 50%;}
        a.item6{left: auto; top: auto; max-width: 50%;}
      }
    }
  }
  .mainMod-r.h100{height: 100%;}




}

@media @bidscreen {
  //  body {background-color: white;}

}

@media @screen {
  //  body {background-color: aqua;}
  .studio-item-size(220px, 220px);
}

@media @tablets {
  //  body{background-color: gold;}
  .clients-size(50%, 130px, 12px, auto, absolute, 200%, 25%);
  .studio-item-size(147px, 147px);

}


@media @bigmobile {
  //  body{background-color: fuchsia;}
  .allMobile();
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);
  .studio-item-size(214px, 214px);
  .mainMod-r{
    .inside{
      .part{
        a.item3{left: 15px; top: 0px; max-width: 60%;}
        a.item4{left: 15px; top: 80px; max-width: 70%;}
      }
    }
  }
}

@media @mobile {
  //  body{background-color: red;}
  .allMobile();
  .smallMobile();
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);
  .studio-item-smallsize();
  .smallMobile();
}

@media @smallmobile {
  //  body{background-color: green;}
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);
  .studio-item-smallsize();

//  .allMobile();

  .smallMobile();
}





























