.fl-w100(){float: left; width : 100%;}
.h-lh(@size){height: @size; line-height: @size;}


.gradient(@pos, @color1, @color2) {
  background: linear-gradient(@pos, @color1, @color2);
  background: -moz-linear-gradient(@pos, @color1, @color2);
  background: -ms-linear-gradient(@pos, @color1, @color2);
  background: -o-linear-gradient(@pos, @color1, @color2);
  background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color) {
  box-shadow:@x @y @fade @size @color;
  -webkit-box-shadow:@x @y @fade @size @color;
  -moz-box-shadow:@x @y @fade @size @color;
  -khtml-box-shadow:@x @y @fade @size @color;
  -o-box-shadow:@x @y @fade @size @color;
}

.radius(@size) {
  border-radius:@size;
  -webkit-border-radius:@size;
  -moz-border-radius:@size;
  -khtml-border-radius:@size;
}

.multyradius(@a, @b, @c, @d){
  border-radius:@a @b @c @d;
  -webkit-border-radius:@a @b @c @d;
  -moz-border-radius:@a @b @c @d;
  -khtml-border-radius:@a @b @c @d;
}

.multyradius(@r, @x, @y){
  -webkit-transform: rotate(@r) translateX(@x) translateY(@y);
  -moz-transform: rotate(@r) translateX(@x) translateY(@y);
  -o-transform:  rotate(@r) translateX(@x) translateY(@y);
  transform: rotate(@r) translateX(@x) translateY(@y);
}

.clients-size(@w, @h, @f, @m, @p, @winfo, @pl){
    .item-client{width: @w;
      .item-box{height: @h;}
      .clients-l{width: @w;
        .v-align{
          img{margin: @m @m;}
        }
      }
      .clients-r{width: @w;
        p{font-size: @f;}
        a{position: @p;}
      }
    }
  .client-info{width: @winfo;}
  .client-info-txt{padding: 10px 5% 10px @pl;}
}

.sort-size(@wl, @wr, @pg){
  .item-sort-l{width: @wl;}
  .item-sort-r{width: @wr;
      .btn-group-box{
        .btn.btn-user{padding: 3px @pg;}
      }
  }
}
/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img{border:0px; outline:none;}
h1,h2,h3{}
a{border: 0px; outline: 0px; text-decoration: underline; &:hover{text-decoration: none;}}
.kris-line{.fl-w100();}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}

.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px}
.mb55{margin-bottom:55px}
.mb60{margin-bottom:60px}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mb80{margin-bottom:80px}
.mb85{margin-bottom:85px}
.mb90{margin-bottom:90px}
.mb95{margin-bottom:95px}
.mb100{margin-bottom:100px}

.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt55{margin-top:55px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt90{margin-top:90px}
.mt95{margin-top:95px}
.mt100{margin-top:100px}

.padding10{padding: 10px;}


/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------clients start-----------------------------------------------------------------------------------------------*/
.company-clients{background-color: #ffffff;}
.item-sort-box{}
  .item-sort-l{float: left; width: 40%;}
  .item-sort-r{float: left; width: 60%;
    .btn-group{float: right;}
    .btn-group-box{
      label{color: #3d4fb0; font-weight: normal; font-size: 13px;}
      .btn.btn-user{background-color: #aab1c3; padding: 3px 12px;}
      label.btn-user.active{background-color: #3d4fb0; color: #ffffff;}
    }
  }

.company-clients-box{border-left: 1px solid #d4d4d4; border-top: 1px solid #d4d4d4; float: left; width: 100%;}
  .item-client{float: left; width: 50%; position: relative; z-index: 5; background-position:  right 10px top 15px; cursor: pointer; background-repeat: no-repeat; border-right: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;
    .item-box{float: left; width: 100%; height: 130px;}
    .clients-l{float: left; width: 47%; height: 100%; display: table;}
      .v-align{width: 100%; height: 100%; display: table-cell; vertical-align: middle; text-align: center;
        img{max-width: 100%; max-height: 100%;}
      }
    .clients-r{float: left; width: 50%; height: 100%; padding-left: 3%; position: relative;
      h2{font-size: 18px; color: #fabd00; margin-top: 10px; margin-bottom: 5px;}
      p{font-size: 14px; color: #2c2d35;}
      a{position: absolute; left: auto; bottom: 5px;}
    }
  }
  .item-client.active{background-color: #fabd00; z-index: 10;
    h2{color: #ffffff;}
  }

.client-info{float: left; width: 200%; display: none; background-color: #fabd00;  border-top: 1px solid #d4d4d4; cursor: default;}
  .client-info.al-l{float: left;}
  .client-info.al-r{float: right;}
    .client-info-txt{padding: 10px 5% 10px 25%;
      h3{font-size: 14px; font-weight: bold;}
      p{font-size: 13px;}
      a{font-size: 13px;}
    }

/*---------------------------------------------------------------------------------clients end---------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@bidscreen: ~"(min-width: 1200px)";

@screen: ~"(min-width: 992px) and (max-width: 1200px)";

@tablets: ~"(min-width: 768px) and (max-width: 991px)";

@bigmobile: ~"(min-width: 480px) and (max-width: 767px)";

@mobile: ~"(min-width: 320px) and (max-width: 479px)";

@smallmobile: ~"(max-width: 319px)";

.allgajetscreen{


}

.allMobile{

}

.smallMobile{

}

@media @bidscreen {
  //  body {background-color: white;}

}

@media @screen {
  //  body {background-color: aqua;}

}

@media @tablets {
  //  body{background-color: gold;}
  .clients-size(50%, 130px, 12px, auto, absolute, 200%, 25%);
}


@media @bigmobile {
  //  body{background-color: fuchsia;}
  .allMobile();
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);
}

@media @mobile {
  //  body{background-color: red;}
  .allMobile();
  .smallMobile();
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);

}

@media @smallmobile {
  //  body{background-color: green;}
  .clients-size(100%, auto, 14px, 15px, relative, 100%, 5%);
  .sort-size(100%, 100%, 6px);
//  .allMobile();

//  .smallMobile();
}





























