/*---------------------------------------------------------------------------------start---------------------------------------------------------------------------------------------------*/
img {
  border: 0px;
  outline: none;
}
a {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.kris-line {
  float: left;
  width: 100%;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.padding10 {
  padding: 10px;
}
/*---------------------------------------------------------------------------------start end--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------dictors start-----------------------------------------------------------------------------------------------*/
.company-dictors {
  background-color: #ffffff;
}
.item-sort-box {
  background-color: #cbd5da;
  padding: 2%;
}
.item-sort-l {
  float: left;
  width: 36%;
}
.item-sort-r {
  float: right;
  width: 60%;
}
.item-sort-r .btn-group {
  float: right;
}
.item-sort-r .btn-group-box label {
  color: #3d4fb0;
  font-weight: normal;
  font-size: 13px;
}
.item-sort-r .btn-group-box .btn.btn-user {
  background-color: #aab1c3;
  padding: 3px 12px;
}
.item-sort-r .btn-group-box label.btn-user.active {
  background-color: #3d4fb0;
  color: #ffffff;
}
.filtr-box {
  color: #231f20;
}
.filtr-box p {
  font-size: 17px;
  margin-bottom: 0px;
}
.filtr-box hr {
  margin: 0px;
  border-top: 1px solid #231f20;
}
.filtr-list-ul {
  list-style-type: none;
  float: right;
  margin-top: 20px;
}
.filtr-list-ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0px;
  padding: 0px 60px;
}
.filtr-list-ul li a {
  cursor: pointer;
  color: #231f20;
  text-decoration: none;
}
.item-dictor {
  float: left;
  width: 48%;
  height: 150px;
  margin-bottom: 35px;
  padding-right: 2%;
}
.item-dictor-tit {
  margin: 0px 0px 5px;
  font-size: 17px;
}
.item-dictor-tit a {
  color: #292663;
  font-size: 17px;
}
.item-dictor-l {
  float: left;
  width: 25%;
}
.item-dictor-l img {
  max-width: 95%;
  max-height: 95%;
}
.item-dictor-r {
  float: left;
  width: 75%;
}
.item-dictor-about-ul {
  list-style-type: none;
}
.item-dictor-about-ul li {
  float: left;
  width: 100%;
  font-size: 13px;
}
.item-dictor-about-ul li .tit {
  color: #998675;
}
.item-dictor-about-ul li .link {
  color: #231f20;
}
.item-dictor-about-ul li .link-audio {
  color: #3d4fb0;
}
.item-dictor-about-ul li .lang {
  color: #998675;
}
.item-dictor.active {
  background-color: #fabd00;
  z-index: 10;
}
.item-dictor.active h2 {
  color: #ffffff;
}
/*---------------------------------------------------------------------------------dictors end---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------adapt------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
  .item-dictor-tit {
    font-size: 16px;
  }
  .item-dictor-tit a {
    color: #292663;
    font-size: 16px;
  }
  .item-dictor-about-ul li {
    font-size: 12px;
  }
  .item-sort-l {
    display: none;
  }
  .item-sort-r {
    width: 60%;
    float: right;
  }
  .item-sort-r .btn-group {
    float: right;
    margin-bottom: 10px;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 12px;
    margin-bottom: 5px;
  }
  .filtr-list-ul li {
    font-size: 18px;
    padding: 0px 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .item-dictor {
    width: 100%;
    height: auto;
  }
  .item-dictor-l {
    width: 25%;
    margin-bottom: 0px;
    text-align: left;
  }
  .item-dictor-r {
    width: 75%;
  }
  .item-sort-l {
    display: none;
  }
  .item-sort-r {
    width: 100%;
    float: left;
  }
  .item-sort-r .btn-group {
    float: left;
    margin-bottom: 10px;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
    margin-bottom: 5px;
  }
  .filtr-list-ul li {
    font-size: 18px;
    padding: 0px 30px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .item-dictor {
    width: 100%;
    height: auto;
  }
  .item-dictor-l {
    width: 25%;
    margin-bottom: 0px;
    text-align: left;
  }
  .item-dictor-r {
    width: 75%;
  }
  .item-sort-l {
    display: none;
  }
  .item-sort-r {
    width: 100%;
    float: left;
  }
  .item-sort-r .btn-group {
    float: left;
    margin-bottom: 10px;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
    margin-bottom: 5px;
  }
  .filtr-list-ul li {
    font-size: 15px;
    padding: 0px 10px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .item-dictor {
    width: 100%;
    height: auto;
  }
  .item-dictor-l {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .item-dictor-r {
    width: 100%;
  }
  .item-sort-l {
    display: none;
  }
  .item-sort-r {
    width: 100%;
    float: left;
  }
  .item-sort-r .btn-group {
    float: left;
    margin-bottom: 10px;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
    margin-bottom: 5px;
  }
  .filtr-list-ul li {
    font-size: 15px;
    padding: 0px 10px;
  }
}
@media (max-width: 319px) {
  .item-dictor {
    width: 100%;
    height: auto;
  }
  .item-dictor-l {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .item-dictor-r {
    width: 100%;
  }
  .item-sort-l {
    display: none;
  }
  .item-sort-r {
    width: 100%;
    float: left;
  }
  .item-sort-r .btn-group {
    float: left;
    margin-bottom: 10px;
  }
  .item-sort-r .btn-group-box .btn.btn-user {
    padding: 3px 6px;
    margin-bottom: 5px;
  }
  .filtr-list-ul li {
    font-size: 15px;
    padding: 0px 10px;
  }
}
